---
layout: default 
--- 

<div class= "section company-features"> 
{% assign control_text_list = site.data.company_features | map: "heading" %} 
{% include entry-list.liquid 
    level = 2 
    namespace = "company-features" 
    heading = "Company Features" 
    entry_list = site.data.company_features
    entry_template = "company-features-block.liquid" 
%} 
</div> 

<div class= "section priorities">
{% include entry-list.liquid 
    level = 2 
    namespace = "priorities" 
    heading = "Priorities" 
    text = site.data.sponsorship.text 
    entry_list = site.data.features 
    entry_template = "priorities-block.liquid" 
%} 
</div> 

<div class= "section team">
{% include entry-list.liquid 
    level = 2 
    namespace = "team" 
    heading = site.data.team.heading 
    text = site.data.team.text 
    entry_list = site.data.team.entry_list 
    entry_template = "representative.liquid" 
%} 
</div> 

<div class= "section news"> 
{% include entry-list.liquid 
    level = 2 
    namespace = "news" 
    heading = site.data.news.heading 
    text = site.data.news.text 
    entry_list = site.data.news.entry_list 
    entry_template = "news-block.liquid" 
%} 
</div> 

{%- comment -%}
<div class= "section features">
{% include entry-list.liquid 
    level = 2 
    namespace = "features" 
    heading = "Discussions" 
    text = site.data.sponsorship.text 
    entry_list = site.data.features 
    entry_template = "features-block.liquid" 
%} 
</div> 
{%- endcomment -%} 

<div class= "section questions"> 
{% include entry-list.liquid 
    level = 2 
    namespace = "questions"
    heading = site.data.questions.heading 
    entry_list = site.data.questions.entry_list 
    entry_template = "question-block.liquid" 
%} 
</div> 

<div class= "section send-message"> 
    <h2 class= "heading user-action-panel-heading">Say What You Think</h2> 
    
    <form class= "form user-action-form send-message-form" action= "" method= "post">
        <div class= "form-field sender-name-field">
            <label for= "sender-name" class= "field-label">Your Name</label> 
            <input class= "form-field-body" type= "text" name= "sender-name" id= "sender-name" /> 
        </div> 

        <div class= "form-field sender-email-field">
            <label for= "sender-email" class= "field-label">Your Email</label> 
            <input class= "form-field-body" type= "text" name= "sender-email" id= "sender-email" /> 
        </div> 

        <div class= "form-field sender-message-field">
            <label for= "sender-message" class= "field-label">Your Message</label> 
            <textarea class= "form-field-body" name= "sender-message" id= "sender-message"></textarea> 
        </div> 

        <button class= "form-button send-message-button" type= "submit">Send Message</button> 
    </form> 

    <p class= "form-note">Or just write to <strong>za-vakarel@gmail.com</strong></p> 
</div> 
