---
layout: default 
--- 

<div class= "section company-features"> 
{% assign control_text_list = site.data.company_features | map: "heading" %} 
{% include entry-list.liquid 
    level = 2 
    namespace = "company-features" 
    heading = "Company Features" 
    entry_list = site.data.company_features
    entry_template = "company-features-block.liquid" 
%} 
</div> 

<div class= "until-victory-display"> 
    <style> 
        .until-victory-display {
            margin-top: 5em; 
            margin-inline: auto; max-width: var( --page-inner-width ); 
            padding-inline: var( --content-indent-x ); 
            /* padding-block: 8em 5em; 
            border: 1px solid;  */  
            /* background-color: rgba( var( --color-3-rgb ), 0.2 );  */
            font-family: var( --font-family-2 );  
            text-align: center; 
            overflow: hidden; 
        } 

        .until-victory-display-message { 
            margin-top: 1em; 
            font-size: 1.2em; 
            text-transform: uppercase; 
        }

        .countdown { 
            display: flex; justify-content: center; 
            /* border-style: solid; border-width: 1px;  */ 
            border-radius: 12px 12px 0 0; 
            background-color: rgba( var( --color-3-rgb ), 0.5 ); color: rgba( var( --color-grayscale-light-rgb ), 0.8 ); 
            font-size: 1.75rem; 
        } 

        .countdown .entry { 
            box-sizing: border-box; 
            display: flex; flex-direction: column; 
            width: 4.5rem; height: 4.5rem; 
            /* margin-right: 0.5rem;  */ 
            padding: 0.85rem; 
            /* border: 1px solid;   */
        } 

        .countdown .entry:last-of-type { 
            margin-right: 0; 
            border-right: none; 
        }

        .countdown .unit { 
            font-family: Arial; 
            font-size: 0.7rem; 
            text-transform: uppercase; 
        }

    </style> 

    <div class= "countdown until-victory-display-countdown"></div> 
    <div class= "message until-victory-display-message">До края на старото управление</div> 
</div>   

<div class= "section invites" id= "invites-section"> 
{% include entry-list.liquid 
    level = 2 
    namespace = "invites" 
    
    entry_list = site.invites 
    entry_template = "invites-block.liquid" 
%} 
</div> 

<div class= "section principles"> 
    {% assign principles = site.pages | where: 'name', 'principles' | first %} 

    <div class= "candidate-image-holder">
        {% include image.liquid 
            namespace = "candidate" 
            src = principles.image 
        %} 
    </div> 

    <div class= "text-content section-text-content principles-text-content"> 
        {% include entry-list.liquid 
            level = 2 
            namespace = "principles" 
            heading = principles.heading 
            text = principles.text 
            entry_list = principles.entry_list 
            entry_template = "principles-block.liquid" 
        %} 
    </div> 
</div> 

{% assign candidates = site.pages | where: 'name', 'candidates' | first %} 
{% assign candidates_ordered = site.candidates | sort: 'order' %} 
<div class= "section team" id= "candidates-section"> 
{% include entry-list.liquid 
    level = 2 
    namespace = "team" 
    heading = candidates.heading 
    text = candidates.text 
    entry_list = candidates_ordered
    entry_template = "candidate-block.liquid" 
%} 
</div> 

<div class= "section featured-candidates">
{% include entry-list.liquid 
    level = 2 
    namespace = "featured-candidates" 
    entry_list = candidates_ordered 
    entry_template = "featured-candidate-block.liquid" 
%} 
</div> 

{% assign priorities = site.pages | where: 'name', 'priorities' | first %} 
<div class= "section priorities" id= "priorities-section">
{% include entry-list.liquid 
    level = 2 
    namespace = "priorities" 
    heading = priorities.heading 
    text = priorities.text 
    entry_list = priorities.entry_list 
    entry_template = "priorities-block.liquid" 
%} 
</div> 


{% assign news = site.pages | where: 'name', 'news' | first %} 
{% assign news_list = site.news | reverse | slice: 0, 4 %} 
<div class= "section news" id= "news-section"> 
{% include entry-list.liquid 
    level = 2 
    namespace = "news" 
    heading = news.heading 
    text = news.text 
    entry_list = news_list 
    entry_template = "news-block.liquid" 
%} 
</div> 

{%- comment -%}
{% assign questions = site.pages | where: 'name', 'questions' | first %}
<div class= "section questions" id= "questions-section"> 
<div class= "image-holder"> 
    {% include image.liquid 
        namespace = "questions" 
        src = "data-analysis-questions.png" 
    %} 
</div> 
{% include entry-list.liquid 
    level = 2 
    namespace = "questions"
    heading = questions.heading 
    entry_list = questions.entry_list 
    entry_template = "question-block.liquid" 
%} 
</div> 
{%- endcomment -%} 

{% assign reviews = site.pages | where: 'name', 'reviews' | first %}
<div class= "section reviews" id= "reviews-section"> 
{% include entry-list.liquid 
    level = 2 
    namespace = "reviews"
    heading = reviews.heading 
    text = reviews.text 
    entry_list = site.reviews 
    entry_template = "review.liquid" 
%} 
</div> 

<div class= "section send-message-section" id= "send-message-section"> 
    <h2 class= "heading send-message-heading">Кажете какво мислите и Вие</h2> 

    <div class= "image-holder send-message-image-holder">
        {% include image.liquid src = "getty_497254373_155996.jpg" %} 
    </div> 
    
    {% include send-message-form.liquid %} 
</div> 

<!-- <link rel= "stylesheet" type= "text/css" href= "/assets/plugins/jquery.countdown.package-2.1.0/css/jquery.countdown.css">  -->
<script type= "text/javascript" src= "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jquery.countdown.package-2.1.0/js/jquery.plugin.min.js"></script> 
<script src= "/assets/plugins/jquery.countdown.package-2.1.0/js/jquery.countdown.min.js"></script> 
<script>
	const targetDate = new Date( "October 29, 2023 20:00:00" ); 
	const delay = 2000; 

	$( ".countdown" ).countdown( { 
        until: targetDate, 
        layout: 
            "<div class= 'entry days'>{dnn}" +
                "<span class= 'unit'>ден</span>" +
            "</div>" +
            "<div class= 'entry hours'>{hnn}" +
                "<span class= 'unit'>часа</span>" +
            "</div>" +
            "<div class= 'entry minutes'>{mnn}" +
                "<span class= 'unit'>минути</span>" +
            "</div>" +
            "<div class= 'entry seconds'>{snn}" +
                "<span class= 'unit'>секунди</span>" + 
            "</div>", 
        format: "DHMS", 
        timezone: +3
    } ); 

</script> 
