---
layout: default 
--- 

<!-- Banner --> 
<div class= "section company-features"> 
    {% include entry-list.liquid 
        level = 2 
        namespace = "company-features" 
        heading = "Company Features" 
        entry_list = site.data.company_features
        entry_template = "company-features-block.liquid" 
    %} 
</div> 
<!-- /Banner  -->


<!-- Invites -->
<div class= "section invites" id= "invites-section"> 
    <!-- Getting invite entries from recent to dated  --> 
    {% assign invites_order_reversed = site.invites | order: "date" | reverse %} 

    {% include entry-list.liquid 
        level = 2 
        namespace = "invites" 
        entry_list = invites_order_reversed 
        entry_template = "invites-block.liquid" 
    %} 
</div> 
<!-- /Invites -->


<!-- Principles -->
<div class= "section principles"> 
    <!-- Getting 'principles' page data  --> 
    {% assign principles = site.pages | where: 'name', 'principles' | first %} 

    {% include entry-list.liquid 
        level = 2 
        namespace = "principles" 
        heading = principles.heading 
        text = principles.text 
        entry_list = principles.entry_list 
        entry_template = "principles-block.liquid" 
    %} 
</div> 
<!-- /Principles --> 


<!-- Getting 'candidates' page  -->
{% assign candidates = site.pages | where: 'name', 'candidates' | first %} 
<!-- Getting 'candidates' collection entries  --> 
{% assign candidates_ordered = site.candidates | sort: 'order' %} 


<!-- Candidates -->
<div class= "section team" id= "candidates-section"> 
    {% include entry-list.liquid 
        level = 2 
        namespace = "team" 
        heading = candidates.heading 
        text = candidates.text 
        entry_list = candidates_ordered
        entry_template = "candidate-block.liquid" 
    %} 
</div> 
<!-- /Candidates --> 


<!-- Featured candidates --> 
<div class= "section featured-candidates splide" id= "featured-candidates-section"> 
    <!-- Slider pagination -->
    <ul class="splide__pagination"></ul> 

    <!-- Slider arrows -->
    <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
            <span class= "button-text">Prev</span>
        </button> 

        <button class="splide__arrow splide__arrow--next">
            <span class= "button-text">Next</span> 
        </button>
    </div> 

    <!-- Slider body -->
    <div class="splide__track"> 
        <ul class="featured-candidates-list splide__list"> 
        {% for candidate in candidates_ordered %} 
            <li class="entry splide__slide">
                {% include featured-candidate-block.liquid 
                    data = candidate 
                %} 
            </li>
        {% endfor %}
        </ul>
    </div> 
</div> 
<!-- /Featured candidates -->


<!-- Candidates data list -->
<ul class="candidate-articles-list"> 
{% for candidate in candidates_ordered %} 
    <li class="entry candidate-article-entry"> 
        <div class= "article-holder" id= "candidate-article-id-{{ candidate.id }}"> 
            {% include candidate.liquid 
                candidate = candidate  
            %}  
        </div> 
    </li>
{% endfor %}
</ul> 
<!-- /Candidates data list --> 


<!-- Priorities -->
<div class= "section priorities" id= "priorities-section"> 
    <!-- Getting 'priorities' page data --> 
    {% assign priorities = site.pages | where: 'name', 'priorities' | first %} 

    {% include entry-list.liquid 
        level = 2 
        namespace = "priorities" 
        heading = priorities.heading 
        text = priorities.text 
        entry_list = priorities.entry_list 
        entry_template = "priorities-block.liquid" 
    %} 
</div> 
<!-- /Priorities -->


<!-- Reviews -->
<div class= "section reviews" id= "reviews-section"> 
    <!-- Getting 'reviews' page data  -->
    {% assign reviews = site.pages | where: 'name', 'reviews' | first %}

    <!-- Section heading -->
    <h2 class= "heading reviews-heading">Мнения</h2> 

    <!-- Reviews section slider, background image wrapping -->
    <section class= "reviews-list-holder splide" id= "reviews-list-holder" aria-label=""> 
        <div class="splide__track"> 
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <span class= "button-text">Prev</span>
                </button> 

                <button class="splide__arrow splide__arrow--next">
                    <span class= "button-text">Next</span> 
                </button>
            </div> 
            
            <ul class="splide__list"> 
            {% for review in site.reviews %} 
                <li class="splide__slide">
                    {% include review.liquid 
                        data = review 
                    %} 
                </li>
            {% endfor %}
            </ul>
        </div> 

        <!-- Reviews section background image  -->
        {% include image.liquid 
            src = "Writing-2.jpg" 
        %} 
    </section> 

    <!-- Reviews article list -->
    <ul class= "review-article-list"> 
    {% for review in site.reviews %} 
        <li class= "review-article-entry"> 
            {% include review-article.liquid 
                data = review 
            %} 
        </li>
    {% endfor %}
    </ul>
</div> 
<!-- /Reviews -->


<!-- Send message -->
<div class= "section send-message-section" id= "send-message-section"> 
    <!-- Section heading -->
    <h2 class= "heading send-message-heading">Включете се и Вие с коментар или идея</h2> 

    <!-- Section background image -->
    <div class= "image-holder send-message-image-holder">
        {% include image.liquid 
            src = "how-to-take-board-meeting-minutes.jpg" 
        %} 
    </div> 
    
    <!-- Send message form -->
    {% include send-message-form.liquid %} 
</div> 
<!-- /Send message -->
