<link rel= "stylesheet" href= "/assets/css/animation.css"> 

<div class= "introduction"> 
    <div class= "introduction-logo-icon introduction-background-logo-icon"> 
        <div class= "introduction-logo-icon-border"></div> 
    </div> 

    <div class= "introduction-body"> 
        <div class= "introduction-logo-icon"> 
            <div class= "introduction-logo-icon-border"></div> 
        </div> 
        
        <div class= "start">За</div> 

        <div class= "window">
            <div class= "end-list"> 
                <div class= "end-entry end-entry-1">Прозрачност</div> 
                <div class= "end-entry end-entry-2">Активност</div>
                <div class= "end-entry end-entry-3">Компетентност</div>
                <div class= "end-entry end-entry-4">Вакарел</div> 
            </div> 
        </div> 
    </div> 
</div> 
