<link rel= "stylesheet" href= "/assets/css/animation.css"> 

<div class= "introduction"> 
    <figure class= "election-number introduction-election-number">63</figure> 

    <div class= "introduction-body"> 
        <figure class= "election-number introduction-body-election-number">63</figure> 
        
        <div class= "start">За</div> 

        <div class= "window">
            <div class= "end-list"> 
                <div class= "end-entry end-entry-1">Прозрачност</div> 
                <div class= "end-entry end-entry-2">Активност</div>
                <div class= "end-entry end-entry-3">Компетентност</div>
                <div class= "end-entry end-entry-4">Вакарел</div> 
            </div> 
        </div> 
    </div> 
</div> 
