<link rel= "stylesheet" href= "/assets/css/animation-02.css"> 

<div class= "introduction">  
    <!-- <figure class= "election-number introduction-election-number">За Вакарел</figure>  --> 

    <div class= "introduction-logo-icon introduction-background-logo-icon"> 
        <div class= "introduction-logo-icon-border"></div> 
    </div> 

    <div class= "introduction-body"> 
        <!-- <figure class= "election-number introduction-body-election-number">63</figure>  --> 

        <div class= "introduction-logo">
            <div class= "introduction-logo-icon">
                <div class= "introduction-logo-icon-border"></div> 
            </div> 
            
            <div class= "introduction-logo-text-holder">
                <div class= "introduction-logo-text">За Вакарел</div> 
            </div>
        </div>
    </div> 
</div> 
