{% include image.liquid 
    width = "40rem" 
    height = "10rem" 
%} 

<div class= "text-content">
    {% include heading.liquid 
        level = include.level 
        text = include.data.heading 
    %} 

    {% if include.data.subheading %}
        {% include subheading.liquid 
            text = include.data.subheading 
        %} 
    {% endif %}

    {% include text.liquid 
        text = include.data.text 
    %} 

    <a class= "link read-more-button" href= "#">Read More</a> 
</div> 
