<a class= "button {{ include.namespace }}-button" href= "{{ include.target }}"> 
    {% if include.text %}
        <span class= "button-text">{{ include.text }}</span> 
    {% endif %} 
    
    <span class= "button-value">{{ include.value }}</span> 
</a> 
