<div class= "details">
    <p class= "position">
        <span class= "text">Runs For</span>
        <span class= "value">{{ include.position }}</span>
    </p> 

    {% if include.region %} 
        <p class= "region">
            <span class= "text">Of</span>
            <span class= "value">{{ include.region }}</span> 
        </p> 
    {% endif %}
</div> 
