{% assign candidate = include.candidate %} 

{% capture header_complementary %}
    {% include candidate-details.liquid 
        position = candidate.position 
        region = candidate.region 
    %}
{% endcapture %} 

{% capture footer %}
    <div class= "candidate-contacts"> 
    {% for contact in candidate.contacts %} 
        {% assign key = contact[ 0 ] %} 
        {% assign value = contact[ 1 ] %} 

        {% include contact.liquid 
            key = key 
            value = value 
        %} 
    {% endfor %} 
    </div> 
{% endcapture %}

{% include article.liquid 
    namespace = "candidate" 
    entry_id = candidate.id 
    heading = candidate.name 
    image = candidate.photo  
    header_complementary = header_complementary 
    body = candidate.body  
    footer = footer 
%} 