<div class= "details">
    <p class= "position">
        <span class= "text">Кандидат За</span>
        <span class= "value">{{ include.position }}</span>
    </p> 

    {% if include.region %} 
        <p class= "region">
            <span class= "text">На</span> 
            <span class= "value">{{ include.region }}</span> 
        </p> 
    {% endif %}
</div> 
