{% assign candidate = include.data %}

<div class= "candidate-entry" id= "candidate-entry-id-{{ candidate.id }}"> 
    <div class= "candidate-block">
        {% include image.liquid 
            namespace = "candidate" 
            src = include.data.photo 
        %} 

        <div class= "text-content">
            {% include heading.liquid 
                level = include.level 
                text = include.data.name 
            %} 

            {% include candidate-details.liquid 
                position = include.data.position 
                region = include.data.region
            %}

            <!-- {% include text.liquid 
                text = include.data.text 
            %}  --> 

            <a class= "link read-more-button" href= "#featured-candidate-id-{{ candidate.id }}">Информация</a> 
        </div> 
    </div> 

    
</div>
