
{% include image.liquid 
    namespace = "candidate" 
    src = include.data.photo 
%} 

<div class= "text-content">
    {% include heading.liquid 
        level = include.level 
        text = include.data.name 
    %} 

    {% include candidate-details.liquid 
        position = include.data.position 
        region = include.data.region
    %}

    {% if include.data.contacts %}
        <div class= "candidate-contacts"> 
        {% for contact in include.data.contacts %} 
            {% include contact.liquid 
                key = contact.key 
                value = contact.value 
            %} 
        {% endfor %} 
        </div> 
    {% endif %}
</div> 

