{% assign candidate = include.candidate %} 

{% capture header_complementary %}
    {% include candidate-details.liquid 
        position = candidate.position 
        region = candidate.region 
    %}
{% endcapture %} 

{% if candidate.contacts %} 
    {% capture footer %}
        <div class= "candidate-contacts"> 
        {% include heading.liquid 
            level = 4 
            text = "За връзка:" 
        %}
        {% for contact in candidate.contacts %} 
            {% include contact.liquid 
                key = contact.key 
                value = contact.value 
            %} 
        {% endfor %} 
        </div> 
    {% endcapture %}
{% endif %}

{% include article.liquid 
    namespace = "candidate" 
    entry_id = candidate.id 
    heading = candidate.name 
    image = candidate.photo  
    header_complementary = header_complementary 
    body = candidate.info   
    footer = footer 
%} 

{% assign footer = nil %} 