{% if include.heading %}
    {% include heading.liquid 
        level = include.level 
        text = include.heading 
        sub_text = include.subheading 
        namespace = include.namespace 
    %} 
{% endif %}

<!-- {% if include.subheading %}
    {% include subheading.liquid 
        text = include.subheading 
        namespace = include.namespace 
    %} 
{% endif %}  -->

{% if include.text %}
    {% include text.liquid 
        text = include.text 
        namespace = include.namespace 
    %} 
{% endif %}

{% if include.entry_list %} 
    <ul class= "entry-list {{ include.namespace }}-list"> 
    {% for entry in include.entry_list %} 
        <li class= "entry {{ include.namespace }}-entry"> 
            {% assign entry_level = include.level | plus: 1 %} 
            
            {% include {{ include.entry_template }} 
                level = entry_level 
                data = entry 
                namespace = include.namespace 
            %} 
        </li>
    {% endfor %}
    </ul>
{% endif %}
