{% include heading.liquid 
    level = 3 
    text = "Вашите Кандидати" 
%} 

{% assign candidates_ordered = site.candidates | sort: 'order' %}

<ul class= "entry-list team-member-list">
{% for entry in candidates_ordered %} 
    <li class= "entry team-member"> 
        <div class= "image-holder"> 
            {% include image.liquid 
                src = entry.photo 
            %} 
        </div> 

        <div class= "text-content">
            {% include heading.liquid 
                level = 4
                text = entry.name 
            %} 

            {% include candidate-details.liquid 
                position = entry.position 
                region = entry.region
            %} 

            <a class= "link read-more-button" href= "#candidate-article-id-{{ entry.id }}">Информация</a> 
        </div> 
    </li> 
{% endfor %} 
</ul> 
