{% include heading.liquid 
    level = include.level 
    text = include.heading 
%} 

{% include heading.liquid 
    level = 5 
    text = include.subheading 
%} 

{% include text.liquid 
    text = include.text 
%} 

{% if include.entry_list %} 
    <ul class= "entry-list"> 
    {% for entry in include.entry_list %} 
        <li class= "entry"> 
            {% assign entry_level = include.level | plus: 1 %} 
            
            {% include {{ include.entry_template }} 
                level = entry_level 
                data = entry 
            %} 
        </li>
    {% endfor %}
    </ul>
{% endif %}
