{% include heading.liquid 
    level = 3 
    text = "Our Candidates" 
%} 
<ul class= "entry-list team-member-list">
{% for entry in site.data.team.entry_list %} 
    <li class= "entry team-member"> 
        <div class= "image-holder"> 
            {% include image.liquid 
                src = entry.photo 
            %} 
        </div> 

        <div class= "text-content">
            {% include heading.liquid 
                level = 4
                text = entry.name 
            %} 

            <div class= "details">
                <p class= "position"> 
                    <span class= "text">Candidate</span> 
                    <span class= "value">{{ entry.position }}</span>
                    
                </p> 
        
                <p class= "region"> 
                    <span class= "text">For</span> 
                    <span class= "value">{{ entry.region }}</span> 
                     
                </p> 
            </div> 

            <a class= "link read-more-button" href= "#candidate-article-id-{{ entry.id }}">Explore</a> 
        </div> 
    </li> 
{% endfor %} 
</ul> 
