{% include heading.liquid 
    level = include.level 
    text = include.data.heading 
%} 

{% include text.liquid 
    text = include.data.text 
%} 

<a class= "link" href= "#">Explore Benefits</a> 
