<footer class= "footer site-footer"> 
    <div class= "company">
        {% include id.liquid %} 
        <p class= "company-info">{{ site.data.footer.company.text }}</p> 
    </div> 

    <!-- <section class= "footer-contacts"> 
        {% include heading.liquid 
            level = 3 
            text = "Reach Your Candidate" 
        %} 

        <ul class= "entry-list team-member-list">
        {% for entry in site.data.team.entry_list %} 
            <li class= "entry team-member"> 
                <div class= "image-holder"> 
                    {% include image.liquid 
                        src = entry.photo 
                    %} 
                </div> 

                <div class= "text-content">
                    {% include heading.liquid 
                        level = 4
                        text = entry.name 
                    %} 

                    <div class= "details">
                        <p class= "position">
                            <span class= "value">{{ entry.position }}</span>
                            <span class= "text">Candidate</span>
                        </p> 
                
                        <p class= "region">
                            <span class= "value">{{ entry.region }}</span> 
                            <span class= "text"></span> 
                        </p> 
                    </div>

                    <div class= "team-member-contacts"> 
                        {% for contact in entry.contacts %} 
                            {% assign key = contact[ 0 ] %} 
                            {% assign value = contact[ 1 ] %} 

                            {% include contact.liquid 
                                key = key 
                                value = value 
                            %} 
                        {% endfor %}
                    </div>
                </div> 
            </li> 
        {% endfor %} 
        </ul>

    </section>  -->

    <p class= "copyrights">
        <span class= "year">2023</span> 
        <span class= "notice">&copy; Всички права запазени.</span> 
        
        <span class= "owner">{{ site.title }}</span> 
    </p> 
</footer> 
