<header class= "header site-header"> 
    <div class= "header-pane">
        <section class= "contacts"> 
            <h3 class= "heading header-heading contacts-heading">Връзка с нас</h3> 

           
            <div class= "user-action select-action select-phone contact phone">
                <a class= "button contacts-button header-contacts-button contacts-button-phone" href= "#contact-panel">
                    <span class= "button-text">Вашите <strong>Кандидати</strong></span> 
                </a> 

                <div class= "user-action-panel contact-panel" id= "contact-panel"> 
                    <a class= "button close-button user-action-button user-action-close-button" href= "#contact" >
                        <span class= "button-text">Close</span> 
                    </a> 

                    <div class= "user-action-panel-main"> 
                        <h3 class= "heading user-action-panel-heading">Вашите <strong>Кандидати</strong></h3> 

                        {% include entry-list.liquid 
                            level = 4
                            namespace = "team-member" 
                            
                            entry_list = site.candidates 
                            entry_template = "candidate-contact-block.liquid" 
                        %} 
                    </div> 
                </div>
            </div> 

            <div class= "user-action form-action send-message contact email"> 
                <a class= "button contacts-button header-contacts-button contacts-button-email" href= "#send-message-panel"> 
                    <span class= "button-text">Напишете <strong>Съобщение </strong></span> 
                </a> 

                <div class= "user-action-panel form-panel send-message-panel" id= "send-message-panel"> 
                    <a class= "button close-button user-action-button user-action-close-button" href= "#send-message" >
                        <span class= "button-text">Close</span>
                    </a> 

                    <div class= "user-action-panel-main"> 
                        <h3 class= "heading user-action-panel-heading">Напишете <strong>Съобщение </strong></h3> 
                        
                        <form class= "form user-action-form send-message-form" action= "" method= "post">
                            <div class= "form-field sender-name-field">
                                <label for= "sender-name" class= "field-label">Вашето име</label> 
                                <input class= "form-field-body" type= "text" name= "sender-name" id= "sender-name" /> 
                            </div> 

                            <div class= "form-field sender-email-field">
                                <label for= "sender-email" class= "field-label">Вашият имейл</label> 
                                <input class= "form-field-body" type= "text" name= "sender-email" id= "sender-email" /> 
                            </div> 

                            <div class= "form-field sender-message-field">
                                <label for= "sender-message" class= "field-label">Вашето съобщение</label> 
                                <textarea class= "form-field-body" name= "sender-message" id= "sender-message"></textarea> 
                            </div> 

                            <button class= "form-button send-message-button" type= "submit">Изпрати</button> 
                        </form> 

                        <p class= "form-note">Или пишете на <strong>podkrepete@za-vakarel.com</strong></p> 
                    </div> 
                </div>
            </div>

            
        </section> 

        <!-- <section class= "user-actions"> 
            <h3 class= "heading header-heading user-actions-heading">User Settings</h3> 

            <div class= "user-action select-action theme-select"> 
                <a class= "button user-action-button user-action-open-button" href= "#theme-select-panel">
                    <strong>Theme </strong> Light 
                </a> 

                <div class= "user-action-panel select-action-panel" id= "theme-select-panel"> 
                    <a class= "button close-button user-action-button user-action-close-button" href= "#" >
                        <span class= "button-text">Close</span> 
                    </a> 

                    <div class= "user-action-panel-main"> 
                        <h3 class= "heading user-action-panel-heading">Choose Your Colors</h3> 

                        {% include select-button-list.liquid 
                            namespace = "theme" 
                            button_list = site.data.theme_select_list 
                        %} 
                    </div> 
                </div>
            </div> 
        </section>  -->
    </div> 
    
    {% include id.liquid %} 

    

    {% include main-nav.liquid %} 

    <div class= "social-links">
        <h3 class= "heading header-heading social-links-heading">Join Us</h3>
        <ul class= "social-links-list"> 

            <li class= "social-link-entry">
                <a class= "link social-link social-link-facebook" href= "#"><span class= "icon-text">Facebook</span></a> 
            </li>
        </ul> 
    </div> 
</header> 

