<header class= "header site-header"> 
    <div class= "header-pane">
        <section class= "contacts"> 
            <h3 class= "heading header-heading contacts-heading">Make an Order</h3> 

            <p class= "working-hours">
                Mon-Fr <span class= "hours">08.00-18.00</span> 
            </p> 

            <div class= "user-action select-action select-phone contact phone">
                <a class= "button contacts-button header-contacts-button contacts-button-phone" href= "#phone-select-panel">
                    Call <strong>Our Phones </strong> 
                </a> 

                <div class= "user-action-panel select-action-panel" id= "phone-select-panel"> 
                    <a class= "button close-button user-action-button user-action-close-button" href= "#" >
                        <span class= "button-text">Close</span> 
                    </a> 

                    <div class= "user-action-panel-main"> 
                        <h3 class= "heading user-action-panel-heading">Call Us</h3> 

                        <ul class= "button-list"> 
                            <li class= "button-entry phone-select-entry phone-select-entry-store current"> 
                                <a href= "#" class= "button user-action-panel-button select-button phone-select-button"> 
                                    <span class= "select-button-note">Store</span>
                                    <span class= "select-button-text">0888 123 456</span> 
                                </a> 
                                
                                <div class= "button-preview"></div> 
                            </li> 

                            <li class= "button-entry phone-select-entry phone-select-entry-shop">  
                                <a href= "#" class= "button user-action-panel-button select-button phone-select-button">
                                    <span class= "select-button-note">Shop</span> 
                                    <span class= "select-button-text">0888 123 456</span> 
                                </a> 
    
                                <div class= "button-preview"></div> 
                            </li>
                        </ul> 
                    </div> 
                </div>
            </div> 

            <div class= "user-action form-action send-message contact email"> 
                <a class= "button contacts-button header-contacts-button contacts-button-email" href= "#send-message-panel"> 
                    Write <strong>order@biogame.biz </strong>
                </a> 

                <div class= "user-action-panel form-panel send-message-panel" id= "send-message-panel"> 
                    <a class= "button close-button user-action-button user-action-close-button" href= "#" >
                        <span class= "button-text">Close</span>
                    </a> 

                    <div class= "user-action-panel-main"> 
                        <h3 class= "heading user-action-panel-heading">Write A Message</h3> 
                        
                        <form class= "form user-action-form send-message-form" action= "" method= "post">
                            <div class= "form-field sender-name-field">
                                <label for= "sender-name" class= "field-label">Your Name</label> 
                                <input class= "form-field-body" type= "text" name= "sender-name" id= "sender-name" /> 
                            </div> 

                            <div class= "form-field sender-email-field">
                                <label for= "sender-email" class= "field-label">Your Email</label> 
                                <input class= "form-field-body" type= "text" name= "sender-email" id= "sender-email" /> 
                            </div> 

                            <div class= "form-field sender-message-field">
                                <label for= "sender-message" class= "field-label">Your Message</label> 
                                <textarea class= "form-field-body" name= "sender-message" id= "sender-message"></textarea> 
                            </div> 

                            <button class= "form-button send-message-button" type= "submit">Send Message</button> 
                        </form>
                    </div> 
                </div>
            </div>

            
        </section> 

        <section class= "user-actions"> 
            <h3 class= "heading header-heading user-actions-heading">User Settings</h3> 

            <div class= "user-action select-action lang-select"> 
                <a class= "button user-action-button user-action-open-button" href= "#lang-select-panel"> 
                    en 
                </a> 

                <div class= "user-action-panel select-action-panel" id= "lang-select-panel"> 
                    <a class= "button close-button user-action-button user-action-close-button" href= "#" >
                        <span class= "button-text">Close</span>
                    </a> 

                    <div class= "user-action-panel-main"> 
                        <h3 class= "heading user-action-panel-heading">Choose Your Language</h3> 

                        <ul class= "button-list"> 
                            <li class= "button-entry lang-select-entry lang-select-entry-en current"> 
                                <a class= "button user-action-panel-button select-button lang-select-button" href= "#" >en</a> 
                                <div class= "button-preview"></div>
                            </li> 

                            <li class= "button-entry lang-select-entry lang-select-entry-ru"> 
                                <a class= "button user-action-panel-button select-button lang-select-button" href= "#" >ru</a> 
                                <div class= "button-preview"></div>
                            </li> 

                            <li class= "button-entry lang-select-entry lang-select-entry-bg"> 
                                <a class= "button user-action-panel-button select-button lang-select-button" href= "#" >bg</a> 
                                <div class= "button-preview"></div>
                            </li>
                        </ul>
                    </div> 
                </div>
            </div> 

            <div class= "user-action select-action theme-select"> 
                <a class= "button user-action-button user-action-open-button" href= "#theme-select-panel">
                    light 
                </a> 

                <div class= "user-action-panel select-action-panel" id= "theme-select-panel"> 
                    <a class= "button close-button user-action-button user-action-close-button" href= "#" >
                        <span class= "button-text">Close</span> 
                    </a> 

                    <div class= "user-action-panel-main"> 
                        <h3 class= "heading user-action-panel-heading">Choose Your Colors</h3> 

                        <ul class= "button-list"> 
                            <li class= "button-entry theme-select-entry theme-select-entry-light current"> 
                                <a href= "#" class= "button user-action-panel-button select-button theme-select-button theme-select-button-light">light</a> 
                                <div class= "button-preview"></div> 
                            </li> 

                            <li class= "button-entry theme-select-entry theme-select-entry-dark"> 
                                <a href= "#" class= "button user-action-panel-button select-button theme-select-button theme-select-button-dark">dark</a> 
                                <div class= "button-preview"></div> 
                            </li>
                        </ul> 
                    </div> 
                </div>
            </div> 

            <div class= "user-action form-action login">
                <a class= "button user-action-button login-open-button" href= "#login-panel">
                    log in
                </a> 

                <div class= "user-action-panel form-panel login-panel" id= "login-panel"> 
                    <a class= "button close-button user-action-button user-action-close-button login-close-button" href= "#" > 
                        <span class= "button-text">Close</span>
                    </a> 

                    <div class= "user-action-panel-main"> 
                        <h3 class= "heading user-action-panel-heading">Login</h3> 
                        
                        <form class= "form user-action-form login-form" action= "" method= "post">
                            <div class= "form-field username-field">
                                <label for= "username" class= "field-label">Username</label> 
                                <input class= "form-field-body" type= "text" name= "username" id= "username" /> 
                            </div> 

                            <div class= "form-field password-field">
                                <label for= "password" class= "field-label">Password</label> 
                                <input class= "form-field-body" type= "text" name= "password" id= "password" /> 
                            </div> 

                            <button class= "form-button login-button" type= "submit">Log In</button> 
                        </form>
                    </div> 
                </div>
            </div> 
        </section> 
    </div> 
    
    {% include id.liquid %} 

    

    <nav class= "main-nav"> 
        <h3 class= "heading usability-heading header-heading">Site Navigation</h3> 

        <ul class= "main-nav-list">
        {% for e in site.data.main_nav.entry_list %} 
            <li class= "main-nav-entry{% if e.subnavigation %} has-subnav{% endif %}{% if e.text == 'Home' %} current-entry{% endif %}"> 
                <a 
                    href= "{{ e.target }}" 
                    class= "link main-nav-link" 
                >
                    {{ e.text }} 
                </a> 

                {% if e.subnavigation %} 
                    {% include {{ e.subnavigation.templ }} 
                        data = e.subnavigation.data 
                        block_link_count = 5 
                    %} 
                {% endif %}
            </li>
        {% endfor %}
        </ul> 

        <a class= "link main-nav-link shopping-cart-link" href= "#">
            Cart 
        </a> 
    </nav> 

    <div class= "social-links">
        <h3 class="heading header-heading social-links-heading">Join Us</h3>
        <ul class= "social-links-list">
            <li class= "social-link-entry">
                <a class= "link social-link social-link-instagram" href= "#"><span class= "icon-text">Instagram</span></a> 
            </li> 

            <li class= "social-link-entry">
                <a class= "link social-link social-link-facebook" href= "#"><span class= "icon-text">Facebook</span></a> 
            </li>
        </ul> 
    </div> 
</header> 

