<header class= "header site-header"> 
    <div class= "header-pane">
        <section class= "contacts"> 
            <h3 class= "heading header-heading contacts-heading">Make an Order</h3> 

            <p class= "working-hours">
                Mon-Fr <span class= "hours">08.00-18.00</span> 
            </p> 

            <div class= "contact phone">
                <a class= "button contacts-button header-contacts-button contacts-button-phone" href= "#">
                    Call
                </a> 
                0888 123 456 
            </div> 

            <div class= "contact email">
                <a class= "button contacts-button header-contacts-button contacts-button-email" href= "#">
                    Write
                </a> 
                order@biogame.biz 
            </div>

            
        </section> 

        <section class= "user-actions"> 
            <h3 class="heading header-heading user-actions-heading">User Settings</h3> 

            <div class= "select-panel lang-select"> 
                <a class= "button user-actions-button toggle-menu-button lang-select-toggle-menu-button" href= "#lang-select-menu">
                    en 
                </a> 

                <div class= "user-action-menu lang-select-menu" id= "lang-select-menu"> 
                    <a class= "button close-button user-action-menu-button user-action-menu-close-button lang-select-menu-close-button" href= "#" >
                        <span class= "button-text">Close</span>
                    </a> 

                    <div class= "user-action-menu-body"> 
                        <h3 class= "heading">Choose Your Language</h3> 
                        <ul class= "button-list"> 
                            <li class= "button-entry lang-select-entry lang-select-entry-en current"> 
                                <a class= "button user-action-menu-button select-button lang-select-button" href= "#" >en</a> 
                                <div class= "button-preview"></div>
                            </li> 

                            <li class= "button-entry lang-select-entry lang-select-entry-ru"> 
                                <a class= "button user-action-menu-button select-button lang-select-button" href= "#" >ru</a> 
                                <div class= "button-preview"></div>
                            </li> 

                            <li class= "button-entry lang-select-entry lang-select-entry-bg"> 
                                <a class= "button user-action-menu-button select-button lang-select-button" href= "#" >bg</a> 
                                <div class= "button-preview"></div>
                            </li>
                        </ul>
                    </div> 
                </div>
            </div> 

            <div class= "select-panel theme-select"> 
                <a class= "button user-actions-button toggle-menu-button theme-select-toggle-menu-button" href= "#theme-select-menu">
                    light 
                </a> 

                <div class= "user-action-menu theme-select-menu" id= "theme-select-menu"> 
                    <a class= "button close-button user-action-menu-button user-action-menu-close-button theme-select-menu-close-button" href= "#" >
                        <span class= "button-text">Close</span> 
                    </a> 

                    <div class= "user-action-menu-body"> 
                        <h3 class= "heading">Choose Your Colors</h3> 
                        <ul class= "button-list"> 
                            <li class= "button-entry theme-select-entry theme-select-entry-light current"> 
                                <a href= "#" class= "button user-action-menu-button select-button theme-select-button theme-select-button-light">light</a> 
                                <div class= "button-preview"></div> 
                            </li> 

                            <li class= "button-entry theme-select-entry theme-select-entry-dark"> 
                                <a href= "#" class= "button user-action-menu-button select-button theme-select-button theme-select-button-dark">dark</a> 
                                <div class= "button-preview"></div> 
                            </li>
                        </ul> 
                    </div> 
                </div>
            </div> 

            <div class= "login">
                <a href= "#" class= "button user-actions-button login-button">
                    log in
                </a> 
            </div> 
        </section> 
    </div> 
    
    {% include id.liquid %} 

    

    <nav class= "main-nav"> 
        <h3 class= "heading usability-heading header-heading">Site Navigation</h3> 

        <ul class= "main-nav-list">
        {% for e in site.data.main_nav.entry_list %} 
            <li class= "main-nav-entry{% if e.subnavigation %} has-subnav{% endif %}{% if e.text == 'Home' %} current-entry{% endif %}"> 
                <a 
                    href= "{{ e.target }}" 
                    class= "link main-nav-link" 
                >
                    {{ e.text }} 
                </a> 

                {% if e.subnavigation %} 
                    {% include {{ e.subnavigation.templ }} 
                        data = e.subnavigation.data 
                        block_link_count = 5 
                    %} 
                {% endif %}
            </li>
        {% endfor %}
        </ul> 

        <a class= "link main-nav-link shopping-cart-link" href= "#">
            Cart 
        </a> 
    </nav> 

    <div class= "social-links">
        <h3 class="heading header-heading social-links-heading">Join Us</h3>
        <ul class= "social-links-list">
            <li class= "social-link-entry">
                <a class= "link social-link social-link-instagram" href= "#"><span class= "icon-text">Instagram</span></a> 
            </li> 

            <li class= "social-link-entry">
                <a class= "link social-link social-link-facebook" href= "#"><span class= "icon-text">Facebook</span></a> 
            </li>
        </ul> 
    </div> 
</header> 

