<style>

.id-logo {
    --width: 2.5rem; 
}

</style>

<article class= "id"> 
    <a class= "link home-link id-link" href= "/"> 
        <div class= "image logo id-logo"></div> 
        <span class= "id-name">Biogame Nutrition</span> 
    </a>
</article> 
