<article class= "id header-id">
    <a class= "link home-link id-link" href= "/">
        <span class= "id-name">Biogame Nutrition</span> 
        <img class= "logo id-logo" src="" alt="" />
    </a>
</article> 
