<article class= "id"> 
    <a class= "link home-link id-link" href= "/"> 
        <img class= "image logo id-logo" src= "/assets/images/logo-gray-no-circle.png" /> 
        <span class= "id-name">Biogame Nutrition</span> 
    </a>
</article> 
