<article class= "id"> 
    <a class= "link home-link id-link" href= "/">
        <span class= "id-name">{{ site.data.id.name }}</span> 
        <img class= "image logo id-logo" src= "{{ site.data.id.logo.src }}" alt= "" /> 
    </a>
</article> 
