<div 
    class= "image company-features-image" 
    style= "--width: {{ include.width }}; --height: {{ include.height }};"
></div> 

<!-- <img class= "image" src= "{{ include.src }}" alt= "{{ include.alt }}" />  --> 
