<nav class= "main-nav"> 
    <h3 class= "heading usability-heading header-heading">Site Navigation</h3> 

    <ul class= "main-nav-list">
    {% for e in site.data.main_nav.entry_list %} 
        <li class= "main-nav-entry{% if e.subnavigation %} has-subnav{% endif %}{% if e.text == 'Home' %} current-entry{% endif %}"> 
            <a 
                href= "{{ e.target }}" 
                class= "link main-nav-link" 
            >
                {{ e.text }} 
            </a> 

            {% if e.subnavigation %} 
                <div class= "subnav"> 
                    {% include {{ e.subnavigation.templ }} %} 
                </div> 
            {% endif %} 
        </li>
    {% endfor %}
    </ul> 

    <!-- <a class= "link main-nav-link" href= "#"> 
        Lighten Up Now 
    </a>  -->
</nav> 
