<ul class= "nav nav-entry-list"> 
{% for e in include.entry_list %} 
    <li class= "entry nav-entry">
        <a class= "link nav-link" href= "{{ e.target }}">{{ e.text }}</a>
    </li>
{% endfor %}
</ul> 
