{% assign article_date = include.data.date | date: "%b %d %Y" | split: " " %} 

<footer class= "date news-date">
    <span class= "month news-month">{{ article_date[ 0 ] }}</span> 
    <span class= "day news-day">{{ article_date[ 1 ] }}</span> 
    <span class= "year news-year">{{ article_date[ 2 ] }}</span> 
</footer>

{% include heading.liquid 
    level = include.level 
    text = include.data.heading 
%} 

{% include text.liquid 
    text = include.data.text 
%} 

<a href= "#" class= "link read-more-button news-read-more-button">Read More</a> 
