{% if include.data.image  %} 
    {% include image.liquid 
        src = include.data.image 
    %} 
{% endif %}

<div class= "text-content">
    {% include heading.liquid 
        level = include.level 
        text = include.data.heading 
        sub_text = include.data.subheading 
    %} 

    {% include text.liquid 
        text = include.data.text 
    %} 
</div> 
