{% include image.liquid 
    src = include.image 
%} 

<div class= "text-content">
    {% include heading.liquid 
        level = include.level 
        namespace = "product" 
        text = include.name 
    %} 

    <ol class= "entry-list product-feature-list"> 
    {% for feature in include.description %} 
        <li class= "entry product-feature">{{ feature }}</li> 
    {% endfor %}
    </ol> 

    <a href= "#" class= "link read-more-button product-read-more-button">Read More</a> 
</div> 
