{% include image.liquid 
    src = include.data.photo 
%} 

<div class= "text-content">
    {% include heading.liquid 
        level = include.level 
        text = include.data.name 
    %} 

    {% include candidate-details.liquid 
        position = include.data.position 
        region = include.data.region
    %}

    <!-- {% include text.liquid 
        text = include.data.text 
    %}  --> 

    <a href= "#" class= "link read-more-button">Read More</a> 
</div>
