<div class= "subnav"> 

{% for group in include.data %} 
    {% include subnav-group.liquid 
        group = group 
        block_link_count = 5 
        namespace = "main-nav" 
    %} 
{% endfor %} 

</div> 
