{% for group in include.data %} 
<div class= "subnav-group">
    <div class= "image subnav-group-image"></div> 
    <h4 class= "subnav-group-heading">{{ group.heading }}</h4> 

    <div class= "link-list subnav-group-list"> 
    {% for entry in group.entry_list %} 
        <a class= "main-nav-link subnav-group-link" href= "{{ entry.target }}">{{ entry.text }}</a> 
    {% endfor %} 
    </div> 
</div> 
{% endfor %} 
