{% for p in include.text %} 
    {% if include.text.size > 1 %} 
        {% if forloop.first %}
            {% assign paragraph = 'first-paragraph' %} 
        {% elsif forloop.last %} 
            {% assign paragraph = 'last-paragraph' %} 
        {% else %} 
            {% assign paragraph = '' %} 
        {% endif %} 
    {% endif %} 

    <p class= "paragraph {{ paragraph }}">{{ p }}</p> 
{% endfor %} 
