.introduction {
    --distance-y: 50px; 
    --fade-in-end-opacity: 1; 
    --entry-height: 1.5em; 
   
} 

.introduction { 
    display: flex; justify-content: center; align-items: center; 
    position: absolute; z-index: 200; 
    left: 0; top: 0; right: 0; bottom: 0; 
    margin: 0; 
    margin-block: 10rem; margin-inline: 10rem; margin: min( 5rem, 4vw ); 
    background-color: rgba( var( --color-3-rgb ), 1 ); color: rgba( var( --color-grayscale-light-rgb ), 0.8 ); 
    border-radius: 12px; 
    font-family: var( --font-family-2 ); font-weight: var( --font-weight-bold ); 
    font-size: 4em; 
    text-transform: uppercase; 
    box-shadow: 0 0 15px 5px rgba( var( --color-grayscale-dark-rgb ), 0.2 ); 

    > .election-number {
        font-size: 10em; 
        opacity: 0.05; 
    } 

    &-body {
        padding-inline: 2rem; 
        display: flex; 
        align-items: center; 

        > .election-number {  
            position: initial; 
            margin-inline: auto; margin-top: 0.2em; 
            font-size: 2em; 
            opacity: 0.8; 
        } 


        > * + * { 
            margin-left: 0.5em; 

        } 
    } 

    .window, 
    .end-entry {
        height: var( --entry-height ); 
    } 

    .start, 
    .end-entry {
        line-height: var( --entry-height ); 
    } 

    .start {
        font-weight: var( --font-weight-light ); 
    } 

    .window { 
        box-sizing: border-box; 
        position: relative; 
        overflow: hidden; 
    } 

    .end-list { 
        --n: 3; 
        --end-list-y: calc( -1 * var( --n ) * var( --entry-height ) );        
    } 

} 


.introduction { 
    &, 
    > .election-number, 
    .introduction-body-election-number, 
    &-body > .start, 
    .end-entry {
        opacity: 0; 
        transform: translateY( var( --distance-y ) ); 
        
    } 
} 

.introduction { 
    > .election-number { 
        --fade-in-end-opacity: 0.05; 

        animation-timing-function: linear !important; 
    } 
}

.window { 
    overflow: hidden; 
} 

.end-entry + .end-entry {
    margin-top: calc( -1 * var( --entry-height ) ); 
} 

// > .election-number {
//     opacity: 0; 
//     transform: translateY( var( --entry-y ) ); 
// } 

// .start, 
// .end-entry {
//     transform: translateY( var( --entry-y ) ); 
//     opacity: 0; 
// } 

// > .election-number { 
//     --fade-in-end: 0.05; 

//     animation: fade-in 0.2s, cruise 4s linear; animation-delay: 5.9s; animation-fill-mode: forwards; 
// } 

// $start: 1s; 
// $entry-duration: 1.5s; 
// $start-delay: $start + 0.25s; 

// & {
//     animation: display-intro 0.2s $start, fade-out 0.2s 7.25s, hide-intro 0.0005s 7.35s; //animation: display-intro 0.2s $start; 
//     animation-fill-mode: forwards; 
    
// }

// .start {  
//     animation: slide-in 0.2s, fade-in 0.2s; animation-delay: $start-delay; animation-fill-mode: forwards; 
// }

// .end-entry { 
//     animation: end $entry-duration; animation-fill-mode: forwards; 

//     // &:first-child {
//     //     animation-delay: $start; 
//     // }

//     &:last-child {
//         animation-name: end-last; 
//     }

//     @for $i from 1 to 5 { 
//         &:nth-child( #{$i} ) { 
//             animation-delay: -0.1s + $entry-duration * $i; 
//         }
//     } 

// } 