.introduction {
    --distance-y: 50px; 
    --fade-in-end-opacity: 1; 
    --entry-height: 1.5em; 
   
} 

.introduction { 
    display: flex; justify-content: center; align-items: center; 
    position: absolute; z-index: 2; 
    left: 0; right: 0; top: var( --entry-padding-y-top ); bottom: var( --entry-padding-y-bottom ); 
    margin: 0; 
    //margin-block: clamp( 12rem, 30vh, 20rem ); 
    margin-inline: min( 8rem, 8vw ); 
    //padding-block: calc( 12rem - 5vw ); 
    //min-height: 70vh; 
    //margin: min( 8rem, 5vw ); 
    background-color: rgba( var( --color-3-rgb ), 0.9 ); color: rgba( var( --color-grayscale-light-rgb ), 0.8 ); 
    //background-color: rgba( var( --color-grayscale-light-rgb ), 0.8 ); color: rgba( var( --color-3-rgb ), 0.8 ); 
    //border: 1px solid; 
    border-radius: 12px; 
    font-family: var( --font-family-2 ); font-weight: var( --font-weight-bold ); 
    font-size: 3.5em; 
    text-transform: uppercase; 
    box-shadow: 0 0 15px 5px rgba( var( --color-grayscale-dark-rgb ), 0.2 ); 

    &-holder { 
        position: absolute; 
        inset: 0; 
        overflow: hidden; 
    }

    .introduction-background-logo-icon {
        font-size: calc( 18em - 8vw ); 
    } 

    &-body {
        padding-inline: 2rem; 
        display: flex; 
        align-items: center; 

        > .introduction-logo-icon {  
            position: initial; 
            margin-inline: auto; margin-top: 0.2em; 
            font-size: 2em; 
            opacity: 0.8; 
        } 


        > * + * { 
            margin-left: 0.5em; 

        } 
    } 

    .window, 
    .end-entry {
        height: var( --entry-height ); 
    } 

    .start, 
    .end-entry {
        line-height: var( --entry-height ); 
    } 

    .start {
        font-weight: var( --font-weight-light ); 
    } 

    .window { 
        box-sizing: border-box; 
        position: relative; 
        overflow: hidden; 
    } 

} 

.animation-start {
    opacity: 0; 
    transform: translateY( var( --distance-y ) ); 
} 

.introduction { 
    &, 
    .introduction-logo-icon, 
    .introduction-background-logo-icon, 
    &-body > .start, 
    .end-entry {
        @extend .animation-start; 
        
    } 
} 

.introduction { 
    > .introduction-background-logo-icon { 
        --fade-in-end-opacity: 0.1; 

        animation-timing-function: linear !important; 
    } 
} 

.company-features-entry {
    overflow: hidden; 
}

.company-features-text-content > .heading { 
    --distance-y: 50px; 

    @extend .animation-start; 
} 

.company-features-action-button { 
    --distance-y: 30px; 

    @extend .animation-start; 
}

.company-features .company-features-image { 
    --fade-in-end-opacity: 0.3; 

    @extend .animation-start; 
} 

.window { 
    overflow: hidden; 
} 

.end-entry + .end-entry {
    margin-top: calc( -1 * var( --entry-height ) ); 
} 

