.article { 
    --date-padding: 0.5em 8rem; 

    box-sizing: border-box;  
    margin-inline: auto; 
    padding-left: 8em; padding-right: 2.5em;
    padding-bottom: 8em; 
    max-width: 780px; 
    //border: 1px solid; 
    border-radius: 12px; 
    
    background-color: rgba( var( --color-grayscale-light-rgb ), 0.9 ); 
    text-align: left; 
    overflow: hidden;

    box-shadow: 0 0 15px rgba( var( --color-grayscale-dark-rgb ), 0.8 ); 
    transform: translateY( 50px ); 
    opacity: 0; 

    // > * { 
    //     padding-left: 8em; padding-right: 2.5em; 
    // } 

    .close-button { 
        --icon-code: "\f129"; 
        --icon-size: 3em; 
        --icon-font-size: 1.4em;  
        
        
        display: block; 
        left: auto; right: 0; top: 0; 
        padding: 0; 
    } 

    &-holder { 
        box-sizing: border-box; 
        position: fixed; z-index: 10; 
        left: -10000px; top: -10000px; 
        //width: calc( 70vw * 70 / 100 ); //height: auto; 
        padding-block: 5rem; padding-inline: 2rem; 
        overflow-y: auto; 
        background-color: rgba( var( --color-grayscale-light-rgb ), 0.8 ); 
        //border: 1px solid; 
        //border-radius: 12px; 
        //overflow: hidden; 
        //box-shadow: 0 0 15px rgba( var( --color-grayscale-dark-rgb ), 0.8 ); 
        
        opacity: 0; 
    
        &:target { 
            //left: 0; top: 0; right: 0; bottom: 0; 
            inset: 0; 
            opacity: 1; 
            transition: opacity 0.3s; 

            .article {
                transform: translateY( 0 ); 
                opacity: 1; 
                transition: opacity 0.2s, transform 0.3s; 
                transition-delay: 0.5s; 
            }
            
        }
    } 

    .date { 
        flex-direction: row; gap: 0.2em; 
        border: none; border-radius: 0; 

        .day {
            order: 1; 
        } 

        .month {
            order: 2; 
        } 

        .year {
            order: 3; 
        }

        .month, 
        .day, 
        .year {
            font-size: 0.8em; font-weight: var( --font-weight-regular ); 
            text-transform: none; 
        }
    } 
} 

.article { 
    .close-button, 
    &-header {
        color: rgba( var( --color-grayscale-light-rgb ), 0.9 ); 

    }
}

.article-header { 
    position: relative; 
    margin-left: -8em; margin-right: -2.5em; 
    //padding-left: 8rem; padding-right: 2.5em; 
    padding-top: 15rem; padding-bottom: 2em; 
    //background-color: #888; 
    

    .image-holder { 
        position: absolute; z-index: -1; 
        left: 0; right: 0; top: 0; bottom: 0; 
        background-color: rgba( var( --color-grayscale-dark-rgb ), 0.125 ); 
        
        .image {
            position: absolute; 
            width: 100%; height: 100%; 
            object-fit: cover; 
        }
    } 

    // .text-content { 
        
    //     background-color: rgba( var( --color-grayscale-dark-rgb ), 0.3 ); color: rgba( var( --color-grayscale-light-rgb ), 0.5 ); 
    // }

    > :not( .image-holder ), 
    &::before { 
        padding-left: 8rem; 
        //width: fit-content; 
    } 

    > :not( .image-holder ), 
    &::before { 
        background-color: rgba( var( --color-grayscale-dark-rgb ), 0.3 ); 
    } 

    .heading { 
        * + & {
            margin-top: 2px; 
        } 

        margin-bottom: 2px; 
        padding-block: 0.5em; 
        font-size: 1.3em; 
        font-weight: var( --font-weight-semi-bold ); 
    } 

    .details { 
        padding-block: 1.2em; 
    }
    
} 

.article-body { 
    margin-top: 5em; 
    
} 

.article-footer {
    margin-top: 3em; 
    //padding-top: 1em; 
    //width: fit-content; 
    //border-top: 1px solid; 

    // .candidate-contacts {
    //     display: flex; 
    // } 

    
} 

.candidate-contacts { 
    margin-top: 2em; 
    
    .contact { 
        --icon-size: 1.8rem; 
        --icon-block: 0;  
        --icon-inline: 0 0.5rem; 
        --icon-border: 1px solid; 
        --icon-border-radius: 50%; 
        --icon-font-size: 1.2em; 

        font-family: var( --font-family-2 ); 

        &-key { 
            display: none;  
        } 

        &-value { 
            display: flex; align-items: center; 
        } 

        + .contact {
            margin-top: 1.5em; 
        } 
        
        &-phone { 
            //--icon-code: "\f4b8"; 
            --icon-code: "\f4b9"; 
        } 
        
        &-email { 
            //--icon-code: "\f2c3"; 
            --icon-code: "\f474"; 
            --icon-font-size: 1.5em; 
        } 
    }
} 

.article .candidate-contacts { 
    //display: flex; justify-content: flex-start; 
    //flex-wrap: wrap; 
    margin-top: 2em; 
    padding: 2em; 
    border: 1px solid; 
    border-radius: 8px; 

    > .heading {
        width: 100%; 
    }
    
    .contact { 
        --icon-size: 1.8rem; 
        --icon-block: 0;  
        --icon-inline: 0 0.5rem; 
        --icon-border: none; 
        --icon-font-size: 1.2em; 

        //display: flex; 
        margin-top: 1.5em; 
        font-family: var( --font-family-2 ); 
        //font-size: 1em; 

        &-key { 
            display: block; 
            margin-bottom: 0.5em; 
            font-size: 0.8em; 
            font-weight: var( --font-weight-regular ); 
            text-transform: uppercase; 
        } 
    }
} 

