// button 
//     read-more-button 
//     buy-product-button 
//     question-open-button ? block-button 
    
.button, 
.link, 
.control-link {  
    display: inline-block; 
    font: inherit; color: inherit; 
    font-family: var( --font-family-2 ); 
    text-decoration: none; 
} 

.button {
    --button-margin-top: ""; 
    --button-margin-inline: ""; 
    --button-padding-block: ""; 
    --button-padding-inline: ""; 
    --button-border: ""; 
    --button-border-radius: ""; 
} 

.company-features-action-button, 
.read-more-button, 
.buy-product-button { 
    display: flex; align-items: center; justify-content: center; 
    margin-inline: var( --button-margin-inline ); margin-top: var( --button-margin-top ); 
    padding-block: var( --button-padding-block ); padding-inline: var( --button-padding-inline ); 
    border: var( --button-border ); border-radius: var( --button-border-radius ); 
}

.read-more-button, 
.buy-product-button { 
    --button-margin-inline: auto; 

    --icon-size: 2.2rem; 
    --icon-font-size: 1.4em; 
    --icon-code: "\f10b"; 
    --icon-inline: 0 0.4em; 
    //--icon-border: 1px solid; 
    //--icon-border-radius: 50%; 
    
} 

.company-features-action-button, 
.read-more-button { 
    width: fit-content; 
} 

.read-more-button { 
    --button-margin-top: 2em; 
    --button-padding-block: 0.8em; 
    --button-padding-inline: 1.8em; 

    &:hover {
        color: rgba( var( --color-1-rgb ) ); 
    }
    
} 

.buy-product-button { 
    --button-margin-top: 2em; 
    --button-padding-block: 1.4em; 
    --button-padding-inline: 1.8em; 
    --button-border: 1px solid; 
    --button-border-radius: 0 0 10px 10px; 
    
} 

.team .read-more-button, 
.product-read-more-button, 
.question-open-button, 
.selected-products .control-link {         
    
    position: absolute; left: 0; right: 0; top: 0; bottom: 0; 
    margin: 0; padding: 0; 
    width: auto; 
    text-indent: -10000px !important; 
} 

.company-features-action-button {
    --button-padding-block: 0.6em; 
    --button-padding-inline: 3em; 
    --button-border: 1px solid; 
    --button-border-radius: 8px; 
} 

.close-button { 
    --icon-code: "\f129"; 
    --icon-size: 3em; 
    --icon-font-size: 2em;  
    
    position: absolute; z-index: 2; 
    left: 0; top: 0; 
}
