:root { 
    // Highlight 
    --color-1-rgb: 215, 75, 33; 
    //--color-1: rgb( var( --color-1-rgb ) ); 

    // Background 
    --color-2-rgb: 232, 218, 218; 
    //--color-2: rgba( var( --color-2-r ), var( --color-2-g ), var( --color-2-b ), var( --color-2-a ) ); 

    // Text 
    --color-3-rgb: 146, 88, 88;
    //--color-3: rgba( var( --color-3-r ), var( --color-3-g ), var( --color-3-b ), var( --color-3-a ) ); 

    // Header pane background 
    // --color-4-rgb: 47, 49, 50; 
    // --color-4: rgba( var( --color-4-r ), var( --color-4-g ), var( --color-4-b ), var( --color-4-a ) ); 

     
    --color-grayscale-light-rgb: 255, 255, 255; 
    --color-grayscale-dark-rgb: 0, 0, 0; 
} 

body {
    color: rgba( var( --color-3-rgb ), 1 ); 
} 
