.company-features { 
    --entry-padding-y-top: 12rem; 
    --entry-padding-y-bottom: var( --entry-padding-y-top ); 
    --entry-image-width: 100%; 
    --entry-image-distance-x: 0; 
    --entry-image-distance-y: 0; 
     
    

    .read-more-button { 
        --button-margin-top: 3em; 
    }

    & { 
        //margin-top: 4rem; 
        position: relative; 
        //margin-inline: 2em; //border: solid transparent; border-width: 0 1.25rem; 
        //border-style: solid; border-width: 1px; border-color: inherit; 
        border-radius: 10px; 
    } 

    &-entry:not( :first-child ) { 
        display: none; 

    } 

    &-entry { 
        --entry-content-width: 100%; 

        position: relative; 
        // border: 2px dashed; 

        // &::after { 
        //     position: absolute; right: 0; top: 40%; bottom: -10%; 
        //     z-index: -1; 
        //     width: 50%; 
        //     border: 1px solid; border-radius: 20px; 
        //     content: ""; 
        // } 
    } 

    &-entry .image {
        position: absolute; 
        left: var( --entry-image-distance-x ); right: var( --entry-image-distance-x ); top: var( --entry-image-distance-y ); 
        width: var( --entry-image-width ); height: 100%; 
        object-fit: cover; object-position: bottom; 
        opacity: 0.2; 
    }

    .text-content {  

        box-sizing: border-box; 
        position: relative; z-index: 2; 
        margin-left: 0; 
        padding: { 
            top: var( --entry-padding-y-top ); bottom: var( --entry-padding-y-bottom ); 
            // left: var( --entry-padding-x ); right: var( --entry-padding-x ); 
        } 
        //max-width: 50%; 
        text-align: center; 

        .heading { 
            display: flex; flex-direction: column-reverse; 
            font-size: var( --font-size-level-1 ); font-weight: var( --font-weight-semi-bold ); 

        } 

        .subheading {
            font-weight: var( --font-weight-light ); 
        }
    } 

    &-actions {
        display: flex; justify-content: center; 

        .button-text { 
            margin-bottom: 0.4em; 
            font-size: 0.9em; 
        } 

        .button-value {
            display: flex; align-items: center; 
        } 

        > * {
            --button-margin-inline: 0; 
            --button-padding-block: 1em; 
            --button-padding-inline: 2em; 

            --icon-code: "\f2c3"; 
            --icon-font-size: 1.2em; 
            --icon-inline: 0 0.5em; 

            min-width: 10rem; 
        } 

        > * + * {
            margin-left: 0.5em; 
        }

        > :nth-child( 1 ) { 
            --icon-code: "\f2c3"; 
            --icon-font-size: 1.1em; 
            --icon-inline: 0 0.7em; 

        } 


        > :nth-child( 2 ) { 
            --icon-code: "\f4b9"; 
            --icon-code: "\f4b8"; 
            --icon-font-size: 1.4em; 
            --icon-inline: 0 0.5em; 

            // .button-value {
            //     font-weight: var( --font-weight-semi-bold ); 
            // }
            
        } 
    }
    

    .control-list { 
        --column-width: auto; 

        & { 
            box-sizing: border-box; 
            display: flex; justify-content: center; 
            position: absolute; bottom: var( --control-list-bottom ); right: 50%; 
            z-index: 2; 
            width: calc( var( --page-inner-width ) / 2 ); 

        }

        .entry + .entry { 
            margin-left: var( --control-link-x ); 
            
        }

        .control-link { 
            position: relative; 
            text-indent: -10000px; 
            width: var( --control-link-size ); height: var( --control-link-size ); 
            padding: var( --control-link-padding ); 
            border-radius: 50%; 
            background-color: currentColor; background-clip: content-box; 
        } 

        .control-link::after { 
            display: block; 
            position: absolute; inset: 20%; 
            //width: var( --control-link-border-size ); height: var( --control-link-border-size ); 
            border: 1px solid; border-radius: 50%; 
            border-color: transparent; 
            content: ""; 
        }

        .control-link { 
            transition: background-color 0.1s; 

            &::after {
                transition: border-color 0.1s; 
            }
        } 

        .control-entry:first-child .control-link, 
        .control-link:hover { 
            background-color: transparent; 
            //transition: background-color 0.15s;

            &::after { 
                border-color: currentColor; 
                //transition: border-color 0.15s; 
            }
        } 

    }


}
