body {
    font: { 
        family: Arial; 
    } 

    line-height: 1.3; 
}

.heading {
    font-family: Arial; 
}

h1 {
    font-size: 2.8em; 
} 

h2 {
    font-size: 2.3em; 
} 

h3 {
    font-size: 1.6em; 
} 

h4 {
    font-size: 1.2em; 
} 

h5 {
    font-size: 1em; 
} 

h6 {
    font-size: 0.9em; 
} 

.link, 
.control-link {
    display: inline-block; 
    font: inherit; color: inherit; 
} 

body > :where( :nth-child( n + 2 ) ) {
    margin-top: 8rem; 
}

.company-features { 
    --section-padding-x: 1.25rem; 
    --entry-padding-y-top: 8rem; 
    --entry-padding-y-bottom: calc( var( --control-list-top ) + var( --control-link-size ) + var( --control-list-bottom ) ); 
    --entry-padding-x: 1.25rem; 
    --entry-image-width: 40%; 
    --entry-image-distance-x: 5%; 
    --entry-image-distance-y: 0; 

    --control-list-top: 6rem; 
    --control-list-bottom: 4rem; 
    --control-link-size: 8px; 

    & { 
        margin-top: 4rem; 
        position: relative; 
    }

    > .heading {
        position: absolute; top: -10000px; left: -10000px; 
        width: 0; height: 0; 
        overflow: hidden; 
    } 

    &-entry:not( :first-child ) { 
        display: none; 

    } 

    &-entry { 
        position: relative; 
        // border: 2px dashed; 
    } 

    &-entry .image {
        position: absolute; right: var( --entry-image-distance-x ); top: var( --entry-image-distance-y ); 
        width: var( --entry-image-width ); height: 100%; 
    }

    .text-content { 
        box-sizing: border-box; 
        margin-left: 0; 
        padding: { 
            top: var( --entry-padding-y-top ); bottom: var( --entry-padding-y-bottom ); 
            // left: var( --entry-padding-x ); right: var( --entry-padding-x ); 
        } 
        width: 50%; 
        text-align: center; 

        .heading {
            font-size: 2.3em; 
        }
    }

    .text-content * + * {
        margin-top: 1.2em; 
    } 

    .control-list { 
        --column-width: auto; 

        & { 
            display: flex; justify-content: center; 
            position: absolute; bottom: var( --control-list-bottom ); 
            margin-top: 2rem; 
            width: calc( ( 100% - ( 2 * var( --section-padding-x ) ) ) / 2 ); 

        }

        .entry + .entry { 
            margin-left: 1em; 
            
        }

        .control-link { 
            text-indent: -10000px; 
            width: var( --control-link-size ); height: var( --control-link-size ); 
            border-radius: 50%; 
            background-color: currentColor; 
        } 

    }


}
