.company-features { 
    
    --entry-padding-y-top: 6rem; 
    --entry-padding-y-bottom: calc( var( --control-list-top ) + var( --control-link-size ) + var( --control-list-bottom ) ); 
    --entry-image-width: 40%; 
    --entry-image-distance-x: 5%; 
    --entry-image-distance-y: 0; 
     
    --control-list-top: 8rem; 
    --control-list-bottom: 4rem; 
    --control-link-x: 0; 
    --control-link-padding: 0.8em; 
    --control-link-size: 8px; 

    .read-more-button { 
        --button-margin-top: 3em; 

    }

    & { 
        margin-top: 4rem; 
        position: relative; 
        padding-inline: 0; border: solid transparent; border-width: 0 1.25rem; 
    }

    > .heading {
        position: absolute; top: -10000px; left: -10000px; 
        width: 0; height: 0; 
        overflow: hidden; 
    } 

    &-entry:not( :first-child ) { 
        display: none; 

    } 

    &-entry { 
        position: relative; 
        // border: 2px dashed; 
    } 

    &-entry .image {
        position: absolute; right: var( --entry-image-distance-x ); top: var( --entry-image-distance-y ); 
        width: var( --entry-image-width ); height: 100%; 
    }

    .text-content { 
        box-sizing: border-box; 
        margin-left: 0; 
        padding: { 
            top: var( --entry-padding-y-top ); bottom: var( --entry-padding-y-bottom ); 
            // left: var( --entry-padding-x ); right: var( --entry-padding-x ); 
        } 
        max-width: 50%; 
        text-align: center; 

        .heading {
            font-size: var( --font-size-level-2 ); 
        }
    }

    

    .control-list { 
        --column-width: auto; 

        & { 
            box-sizing: border-box; 
            display: flex; justify-content: center; 
            position: absolute; bottom: var( --control-list-bottom ); right: 50%; 
            z-index: 2; 
            width: calc( var( --page-inner-width ) / 2 ); 

        }

        .entry + .entry { 
            margin-left: var( --control-link-x ); 
            
        }

        .control-link { 
            text-indent: -10000px; 
            width: var( --control-link-size ); height: var( --control-link-size ); 
            padding: var( --control-link-padding ); 
            border-radius: 50%; 
            background-color: currentColor; background-clip: content-box; 
        } 

    }


}
