.features { 
    &-entry > .heading {
        --icon-code: "\f3fd"; 
        --icon-size: 2.8rem; 
        --icon-font-size: 2.5em; 
        --icon-block: 0 2.5rem; 
        --icon-inline: auto; 
        --icon-border: 1px solid; 
        --icon-border-radius: 50%; 
    } 

    &-list { 
        --column-count: 2; 
        --column-gap-x: 1em; 
        --column-gap-y: 4.5em; 

        > .entry:nth-child( -n + 2 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 2n + 1 ) { 
            margin-left: 0; 
        } 

        .heading { 
            font-size: var( --font-size-level-4 ); font-weight: var( --font-weight-semi-bold ); 
        } 

        .entry { 
            text-align: center; 

            .heading + .paragraph {
                margin-top: 0.8em; 
            } 

            

        }
    } 

}