.features { 
    &-list { 
        --column-count: 2; 
        --column-gap-x: 1em; 
        --column-gap-y: 3.5em; 

        
        --icon-code: "\2713"; 
        --icon-block: 0 1.2em; 
        --icon-inline: auto; 
        --icon-background-color: rgba( 0, 0, 0, 0.637 );  
        --icon-color: rgba( 255, 255, 255, 0.918 ); 
        --icon-border-radius: 50%; 


        > .entry:nth-child( -n + 2 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 2n + 1 ) { 
            margin-left: 0; 
        } 

        .heading { 
            font-size: 1.2em; 
        } 

        .entry { 
            text-align: center; 

            

            .heading + .paragraph {
                margin-top: 0.8em; 
            }
        }
    } 

}