.features { 
    &-list { 
        --column-count: 2; 
        --column-gap-x: 1em; 
        --column-gap-y: 3.5em; 

        --icon-size: 1.8em; 
        --icon-code: "\2713"; 
        --icon-block-bottom: 1.2em; 
        --icon-background-color: rgba( 0, 0, 0, 0.637 );  
        --icon-color: rgba(255, 255, 255, 0.726); 
        --icon-border: none; 
        --icon-border-radius: 50%; 
        --icon-font-size: 1.4em; 


        > .entry:nth-child( -n + 2 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 2n + 1 ) { 
            margin-left: 0; 
        } 

        .heading { 
            font-size: 1.2em; 
        } 

        .entry { 
            text-align: center; 

            

            .heading + .paragraph {
                margin-top: 0.8em; 
            }
        }
    } 

}