.site-footer { 

    margin-inline: auto; padding-inline: 1.25rem; 
    padding-bottom: 5rem; 
    font-family: var( --font-family-2 ); 
    //background-color: red; 
    text-align: center; 

    > *, 
    .footer-contacts > * { 
        max-width: var( --page-inner-width ); margin-inline: auto; 
    } 

    > * + * {
        margin-top: 3em; 

        // &::before { 
        //     display: block; margin-inline: auto; 
        //     //position: absolute; left: 0; top: 0; 
        //     margin-bottom: 4em; 
        //     width: 100%; 
        //     border-top: 1px solid;  
        //     content: ""; 
        // } 
    } 
    
    // .image-placeholder {
    //     width: 100%; height: 5rem; 
    // } 

    .company-info {
        margin-top: 2em; margin-inline: auto; 
        max-width: 80%; 
        font-family: var( --font-family-1 ); 
    }
    
    .footer-contacts { 
        --icon-size: 1.5rem; 
        --icon-font-size: 1.4em; 
        --icon-block: 0 1rem; 
        --icon-inline: auto; 

        max-width: none; 
        text-align: left; 

        .heading {
            font-size: var( --font-size-level-4 ); 
        }

        .team-member-list { 
            --column-count: 4; 
            --column-gap-x: 2.5em; 
            

            > .entry:nth-child( -n + 4 ) { 
                margin-top: 0; 
            }

            > .entry:nth-child( 4n + 1 ) { 
                margin-left: 0; 
            } 

            .team-member { 
                //display: flex; 

                > * + * {
                    margin-left: 0.8em; 
                }

            } 

            .image-holder {
                
            }

            .image { 
                display: block; 
                width: 100%; height: 12rem; 
                border-radius: 12px; 
                max-width: none; 
                
                object-fit: cover; object-position: top; 
            } 

            .text-content { 
                width: auto; 
                font-size: 0.9em; 
            } 

            .details {
                //display: flex; 
            }

            .team-member-contacts { 
                //display: flex; 

                margin-top: 0.5em; 

                .contact { 
                    --icon-block: 0; 
                    --icon-inline: 0; 
                    //--icon-code: unset; 

                    display: flex; 

                    &-value { 
                        //margin-left: 0.2em; 
                    }
                }

            }
        }

        // > :nth-child( n + 3 ) {
        //     margin-left: 1.8em; 
        // } 

        // .contact + .contact {
        //     margin-top: 2em; 
        // } 

        .contact-key { 
            display: none; 
            //margin-bottom: 0.4em; 
            font-weight: var( --font-weight-semi-bold ); 
            text-transform: capitalize; 
        } 

        .contact-phone { 
            --icon-code: "\f4b8"; 
            --icon-code: "\f4b9"; 
            
        } 

        .contact-email { 
            --icon-code: "\f2c3"; 
            --icon-code: "\f474"; 
            --icon-font-size: 1.8em; 
        } 
    } 
    
    // .footer-contacts > .heading {
    //     width: 100%; 
    // } 
    
    .footer-nav-blocks { 
        --column-count: 3; 
        --column-gap-x: 0.8em; 

        .subnav-group {
            --subnav-group-image-to-text-y: 2.5em; 
            --subnav-heading-margin-bottom: 1.25em; 
            --subnav-image-width: 100%; 
            --subnav-image-min-height: 22em; 
            --subnav-image-border-radius: 8px; 
            --subnav-group-blocks-x: 2em; 
            --subnav-link-padding-block: 0.4em; 
            --subnav-link-padding-inline: 0.8em; 

            flex-direction: column; 
        }

        > *:nth-child( -n + 3 ) { 
            margin-top: 0; 
        }

        > *:nth-child( 3n + 1 ) { 
            margin-left: 0; 
        } 

        // font-size: 0.8em; 
        // text-transform: uppercase; 

        //display: flex; 

        // .footer-nav-block { 
        //     font-size: 0.8em; 
        //     text-transform: uppercase; 

        //     > * + * {
        //         margin-top: 1.4em; 
        //     } 

        //     .heading {
        //         font-weight: bold; 
        //     } 

        //     .image-holder {
        //         width: 100%; overflow: hidden; 
                
        //         border-radius: 10px; 
        //     } 

        .subnav-group { 
            overflow: hidden; 

            &:nth-child( 2 ) .image { 
                //margin-left: calc( -1 * ( 100% + var( --column-gap-x ) ) ); 
                align-self: center; 

            } 

            &:nth-child( 3 ) .image { 
                //margin-left: calc( -2 * ( 100% + var( --column-gap-x ) ) ); 
                align-self: flex-end; 

            } 
        
            .image { 
                width: calc( 300% + 2 * var( --column-gap-x ) ); max-width: none;   
                display: block; 
                height: 25rem; 
                object-fit: cover; object-position: left top; 
                // border-radius: 8px; 
            } 
        }
    
        //     .nav-entry-list > * + * { 
        //         margin-top: 0.8em; 
        //     }
        // } 
    } 

    .copyrights { 
        //width: fit-content; 
        //margin-top: 7rem; margin-left: 0.8em; 
        padding-block: 1.5em; 
        //padding-inline: 2em; 
        //border: 1px solid; border-width: 0 0 0 1px; 
        //border-radius: 8px; 
        //text-align: center; 

        //transform: rotateZ( 90deg ); transform-origin: left bottom; 
        //max-width: none; 

        position: relative; 

        .owner {
            display: block; 
            margin-top: 0.6em; 
            margin-left: auto; 
        } 

        .notice {  
            font-weight: var( --font-weight-semi-bold ); 
        }
    }
    
    // .footer-nav-block:not( :first-child ) { 
    //     margin-left: 0.5rem; 
    // } 

}