.site-footer {
    max-width: var( --page-inner-width ); 
    margin-inline: auto; 

    > * + * {
        margin-top: 3em; 
    } 

    :where( .footer-contacts, .footer-nav ) > .heading {
        display: none; 
    }
    
    .image-placeholder {
        width: 100%; height: 5rem; 
    } 

    .company-info {
        margin-top: 2em; 
        max-width: 80%; 
    }
    
    .footer-contacts { 
        --icon-size: 1.5rem; 
        --icon-font-size: 1.4em; 
        --icon-block: 0 1rem; 

        display: flex; flex-wrap: wrap; 

        > :nth-child( n + 3 ) {
            margin-left: 1.8em; 
        } 

        .contact-key { 
            margin-bottom: 0.4em; 
            font-weight: bold; 
            text-transform: capitalize; 
        } 

        .contact-phone { 
            --icon-code: "\f4b8"; 
            
        } 

        .contact-email { 
            --icon-code: "\f2c3"; 
            --icon-font-size: 1.2em; 
        } 
    } 
    
    // .footer-contacts > .heading {
    //     width: 100%; 
    // } 
    
    .footer-nav-blocks { 
        --column-count: 3; 
        --column-gap-x: 0.8em; 

        > .entry:nth-child( -n + 3 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 3n + 1 ) { 
            margin-left: 0; 
        } 

        display: flex; 

        .footer-nav-block { 
            font-size: 0.8em; 
            text-transform: uppercase; 

            > * + * {
                margin-top: 1.4em; 
            } 

            .heading {
                font-weight: bold; 
            }
    
            .image { 
                width: 100%; 
                border-radius: 8px; 
            } 
    
            .nav-entry-list > * + * { 
                margin-top: 0.8em; 
            }
        } 
    } 

    .copyrights {
        margin-top: 7rem; 
    }
    
    // .footer-nav-block:not( :first-child ) { 
    //     margin-left: 0.5rem; 
    // } 
}