// html {
//     font-size: 15px; 
// } 

body {
    padding: 0; 
    
}

.site-header { 
    --link-padding-block: 0.5em;  
    --link-padding-inline: 1em; 
    --icon-size: 1.2rem; 
    --icon-font-size: 1.2rem;
    --icon-inline: 0 0.4rem; 

    & { 
        display: flex; flex-wrap: wrap; 
        justify-content: center; 
        position: relative; 
        text-transform: uppercase; 
        font-family: var( --font-family-2 ); 
        font-size: 0.8em; 
    }

    .header-heading:not( .contacts-heading ) {
        display: none; 
    } 

    .link, .button { 
        text-decoration: none;
    }

    .header-pane, 
    .contacts, .user-actions, 
    .id, 
    .main-nav, 
    .main-nav-list, 
    .main-nav-entry, 
    .social-links-list {
        display: flex; align-items: center; 
    } 

    :where( 
        .header-pane .button, 
        .header-pane .working-hours, 
        .main-nav .has-subnav, 
        .shopping-cart-link, 
        .header .social-link 
    ) { 
        display: flex; align-items: center;  
    } 

    .header-pane {  
        --icon-font-size: 1.3em; 

        // padding-block: 0.5em; 
        padding-inline: 1.25rem; 
        width: 100%; 
        background-color: var( --color-4 ); color: rgb( 231, 231, 231 );  
        

        .button { 
            padding-block: 1.8em; padding-inline: 1em; 
            color: inherit; 
        } 

        font-size: 0.85em; 
    } 

    .contacts { 
        align-items: center;  

        > * + * {
            margin-left: 1.5em; 
        } 

        .contacts-heading {
            font-size: 1em; 
        } 

        .contact {
            display: flex; align-items: center; 
            font-weight: var( --font-weight-semi-bold ); 
        } 

        .contacts-button {
            font-weight: var( --font-weight-regular ); 
        }

        .contacts-button-phone {
            --icon-code: "\f4b8"; 
            --icon-font-size: 1.7em; 

            //font-size: 1.1em; 
        } 

        .contacts-button-email {
            --icon-code: "\f2c3"; 
            --icon-font-size: 1.2em; 
        }

        .working-hours { 
            --icon-code: "\f3b3"; 
            --icon-font-size: 1.3em; 

            .hours { 
                margin-left: 0.4em; 
                font-weight: var( --font-weight-semi-bold ); 
            }

        }
    } 
 
    .user-actions { 
        margin-left: auto; 

        .lang-select {
            --icon-code: "\f276"; 
            --icon-font-size: 1.4em; 
        } 

        .theme-select {
            --icon-code: "\f467"; // \f468 
            --icon-font-size: 2.4em; 
        }

        .login { 
            --icon-code: "\f47d"; 
            --icon-font-size: 1.7em; 

            position: relative; 
            margin-left: 1rem; 

            &::after { 
                display: block; 
                position: absolute; right: 100%; margin-right: 0.5rem; 
                top: 25%; bottom: 25%; 
                border-left: 1px solid; 
                content: ""; 
            } 
            
        } 
        
    }

    .id { 
        justify-content: center; 
        padding-block: 3em; 
        width: 100%; 
        
    } 

    .main-nav, 
    .social-links {
        --icon-size: 1.2em;  
    }

    .main-nav { 
        --shopping-cart-link-left: 3em; 
        --shopping-cart-separator-left: 1em; 
        --shopping-cart-separator-width: 1px; 
        --shopping-cart-separator-y: 20%; 
        --shopping-cart-separator-opacity: 0.5; 

        font-weight: var( --font-weight-medium ); 

        .main-nav-list { 
            --icon-inline: 0.4em 0; 

            align-items: stretch; 
            // padding-right: 2em; 
            // border-right: 1px solid; 

        } 

        .main-nav-list:hover .main-nav-entry .main-nav-link {
            color: inherit; 
        } 

       
            .main-nav-entry:first-child .main-nav-link, 
            .main-nav-list .main-nav-entry .main-nav-link:hover { 
                color: var( --color-1 ); 
            }

            .main-nav-entry:hover .subnav { 
                left: 0; 
            }
    


        .main-nav-entry {
            ///flex-direction: column; 
            // position: relative; 

            .subnav { 
                left: -10000px; 
            }
        } 

        .main-nav-link { 
            box-sizing: border-box; 
            padding-block: 1.4em; padding-inline: 1.4em; 
        } 

        .has-subnav {  
            --icon-code: "\f3d0"; 

            flex-direction: row-reverse; 
            padding-right: 0.8em; 
        } 

        .subnav { 
            box-sizing: border-box; 
            display: flex; justify-content: flex-start; 
            position: absolute; top: 100%; left: 0; z-index: 2; 
            padding: 4rem; 
            padding-left: 50%; 
            width: 100%; 
            background-color: rgb( 255, 255, 255 ); 
            // width: 20rem; 
            border-style: solid; border-color: rgba( 0, 0, 0, 0.253 ); border-width: 1px 0; 
            
            &-group-link {
                display: block; 
            }
        }
         
        .subnav-group { 
            box-sizing: border-box; 
            display: flex; 
            position: relative; 
            padding: 2em; //padding-left: 15rem; 
            width: 35rem; 
            //transform: translateX( -100% ); 
            
            
            &:first-child {
                margin-left: -35rem; 
            } 

            > * + * { 
                margin-left: 1em; 
            } 

            .text-content {
                padding-top: 2em; padding-bottom: 2em; 
            }

            .heading { 
                margin-bottom: 1em; 
                padding: 0.6em 1.4em; 
                //width: 8em; 
                font-size: inherit; font-weight: bold; 
                line-height: 1.5; 
            }

            .image { 
                display: block; 
                // position: absolute; left: 0; top: 0; 
                margin: 0; 
                width: 15rem; 
                min-height: 22em; 
                background-color: rgb(190, 190, 190); 
                // border: 1px solid; 
                border-radius: 8px; 
            } 

            .link-list { 
                display: flex; 
                width: max-content; 
                
            } 

            .subnav-group-link {
                padding-block: 0.6em; 
                
            }

            // .subnav-group-link + .subnav-group-link {
            //     margin-top: 0.2em; 
            // } 
             
        } 

        .shopping-cart-link { 
            --icon-code: "\f3f8";  
            --icon-size: 1.3em; 

            position: relative;
            margin-left: var( --shopping-cart-link-left ); 

            &::after { 
                display: block; 
                position: absolute; right: 100%; margin-right: var( --shopping-cart-separator-left ); 
                top: var( --shopping-cart-separator-y ); bottom: var( --shopping-cart-separator-y ); 
                border-left: var( --shopping-cart-separator-width ) solid; 
                content: ""; 
                opacity: var( --shopping-cart-separator-opacity ); 

            } 
        }
    } 

    .social-links { 
        display: flex; 
        margin-left: 4rem; 

        .social-link-entry + .social-link-entry {
            margin-left: 0.5em; 
        }

        .social-link { 
            --icon-size: 2.2em; 
            --icon-inline: 0; 
            --icon-border: 1px solid; 
            --icon-border-radius: 4px; 

            // padding-block: 0.5em; padding-inline: 1em; 
            
            .icon-text {
                position: absolute; left: -10000px; top: -10000px; 
                width: 1px; height: 1px; overflow: hidden; 
            }
        } 

        .social-link-instagram { 
            --icon-code: "\f350"; 
            
        } 

        .social-link-facebook {
            --icon-code: "\f231"; 
        } 
    } 

    .user-action-menu {
        display: none; 
    } 
    
    // .product-group-image { 
    //     --width: 10rem; --height: 8rem; 
    // }
    
    // .product-group-image { 
    //     float: left; 
    // } 
    
    // .main-nav .product-group::after {
    //     content: ""; 
    //     display: table; 
    //     clear: both; 
    // } 

}