// html {
//     font-size: 15px; 
// } 

body {
    padding: 0; 
    
}

.site-header { 
    --link-padding-block: 0.5em;  
    --link-padding-inline: 1em; 
    --icon-size: 1.2rem; 
    --icon-font-size: 1.2rem;
    --icon-inline: 0 0.4rem; 

    & { 
        display: flex; flex-wrap: wrap; 
        justify-content: center; 
        text-transform: uppercase; 
        font-size: 0.8em; 
    }

    .header-heading:not( .contacts-heading ) {
        display: none; 
    } 

    .link, .button { 
        text-decoration: none;
    }

    .header-pane, 
    .contacts, .user-actions, 
    .id, 
    .main-nav, 
    .main-nav-list, 
    .main-nav-entry, 
    .social-links-list {
        display: flex; align-items: center; 
    } 

    :where( 
        .header-pane .button, 
        .header-pane .working-hours, 
        .main-nav .has-subnav, 
        .shopping-cart-link, 
        .header .social-link 
    ) { 
        display: flex; align-items: center;  
    } 

    .header-pane {  
        --icon-font-size: 1.3em; 

        // padding-block: 0.5em; 
        padding-inline: 1.25rem; 
        width: 100%; 
        background-color: rgb( 46, 46, 46 ); color: rgb( 231, 231, 231 ); 
        

        .button { 
            padding-block: 1.5em; padding-inline: 1em; 
            color: inherit; 
        } 

        font-size: 0.95em; 
    } 

    .contacts { 
        align-items: center; 

        > * + * {
            margin-left: 0.2em; 
        } 

        .contacts-heading {
            font-size: 1em; 
        } 

        .contacts-button-phone {
            --icon-code: "\f4b8"; 
            --icon-font-size: 1.5em; 
        } 

        .contacts-button-email {
            --icon-code: "\f2c3"; 
            --icon-font-size: 1.2em; 
        }

        .working-hours { 
            --icon-code: "\f3b3"; 
            --icon-font-size: 1.3em; 
        }
    } 
 
    .user-actions { 
        margin-left: auto; 

        .lang-select {
            --icon-code: "\f276"; 
            --icon-font-size: 1.4em; 
        } 

        .theme-select {
            --icon-code: "\f467"; // \f468 
            --icon-font-size: 2.4em; 
        }

        .login { 
            --icon-code: "\f47d"; 
            --icon-font-size: 1.7em; 

            position: relative; 
            margin-left: 1rem; 

            &::after { 
                display: block; 
                position: absolute; right: 100%; margin-right: 0.5rem; 
                top: 25%; bottom: 25%; 
                border-left: 1px solid; 
                content: ""; 
            } 
            
        } 
        
    }

    .id { 
        justify-content: center; 
        padding-block: 3em; 
        width: 100%; 
        
    } 

    .main-nav, 
    .social-links {
        --icon-size: 1.2em;  
    }

    .main-nav { 
        .main-nav-list { 
            --icon-inline: 0.4em 0; 

            align-items: stretch; 
            padding-right: 2em; 
            border-right: 1px solid; 
        } 

        .main-nav-list:hover .main-nav-entry {
            color: inherit; 
        } 

        .main-nav-list:hover .main-nav-entry:hover, 
        .main-nav-entry:nth-child( 1 ) {
            color: red; 
        } 

        .main-nav-link { 
            box-sizing: border-box; 
            padding-block: 0.4em; padding-inline: 1.4em; 
        } 

        .has-subnav {  
            --icon-code: "\f3d0"; 

            flex-direction: row-reverse; 
            padding-right: 0.8em; 
        }
         
        .subnav-group {
            display: none; 
        } 

        .shopping-cart-link { 
            --icon-code: "\f3f8";  
            --icon-size: 1.3em; 

            margin-left: 1em; 
        }
    } 

    .social-links { 
        margin-left: 4em; 

        .social-link-entry + .social-link-entry {
            margin-left: 0.5em; 
        }

        .social-link { 
            --icon-size: 1.8em; 
            --icon-inline: 0; 
            --icon-border: 1px solid; 
            --icon-border-radius: 4px; 

            // padding-block: 0.5em; padding-inline: 1em; 
            
            .icon-text {
                position: absolute; left: -10000px; top: -10000px; 
                width: 1px; height: 1px; overflow: hidden; 
            }
        } 

        .social-link-instagram { 
            --icon-code: "\f350"; 
            
        } 

        .social-link-facebook {
            --icon-code: "\f231"; 
        } 
    } 

    .user-action-menu {
        display: none; 
    } 
    
    // .product-group-image { 
    //     --width: 10rem; --height: 8rem; 
    // }
    
    // .product-group-image { 
    //     float: left; 
    // } 
    
    // .main-nav .product-group::after {
    //     content: ""; 
    //     display: table; 
    //     clear: both; 
    // } 

}