.site-header { 
    --link-padding-block: 0.5em;  
    --link-padding-inline: 1em; 
    --icon-size: 1.2rem; 
    --icon-font-size: 1.2rem;
    --icon-inline: 0 0.4rem; 

    & { 
        display: flex; flex-wrap: wrap; 
        justify-content: center; 
        position: relative; position: absolute; z-index: 3; 
        text-transform: uppercase; 
        font-family: var( --font-family-2 ); 
        font-size: 0.8em; 
    } 

    .link, .button { 
        text-decoration: none;
    }

    .header-pane, 
    .contacts, .user-actions, 
    .main-nav, 
    .main-nav-list, 
    .main-nav-entry, 
    .main-nav-link, 
    .social-links-list {
        display: flex; align-items: center; 
    } 

    :where( 
        .header-pane .button, 
        .header-pane .working-hours, 
        .main-nav .has-subnav, 
        .shopping-cart-link, 
        .header .social-link 
    ) { 
        display: flex; align-items: center;  
    } 

    .header-pane {  
        --header-pane-background-color-opacity: 0.8; 
        --header-pane-color-opacity: 0.8; 
        --header-pane-background-color: rgba( var( --color-3-rgb ), var( --header-pane-background-color-opacity ) ); 
        --header-pane-color: rgba( var( --color-grayscale-light-rgb ), var( --header-pane-color-opacity ) ); 
        --icon-font-size: 1.3em; 

        justify-content: center; 
        position: relative; 
        // padding-block: 0.5em; 
        padding-inline: 1.25rem; 
        width: 100%; 
        background-color: var( --header-pane-background-color ); color: var( --header-pane-color ); 
        //border: 1px solid rgba( var( --color-3-rgb ), 0.2 ); 
        

        // .button:not( .user-action-panel-button ) { 
        //     padding-block: 1.8em; padding-inline: 1em; 
        //     color: inherit; 
        // } 

        font-size: 0.9em; 
    } 

    .contacts { 
        //margin-block: 2em; 
        margin-left: auto; 
        align-items: center;  
        // padding: 1.8em; 
        // border: 1px solid; border-radius: 8px; 
        //background-color: var( --header-pane-background-color ); color: var( --header-pane-color ); 

        > * + * {
            margin-left: 1.5em; 
        } 

        .contacts-heading { 
            margin-block: 0; 
            font-size: 1em; 
        } 

        .contact {
            display: flex; align-items: center; 
            
        } 

        .contacts-button { 
            --button-padding-block: 2em; 
            // --icon-size: 2.5rem; 
            // --icon-font-size: 1.4em;
            // --icon-border: 1px solid; 
            // --icon-border-radius: 50%; 

            strong { 
                margin-left: 0.4em; 
                 
            } 

        }

        .contacts-button-phone {
            --icon-code: "\f4b8"; 
            --icon-font-size: 1.7em; 
 
            //font-size: 1.1em; 
        } 

        .contacts-button-email {
            --icon-code: "\f2c3"; 
            --icon-font-size: 1.2em; 
        }

        .working-hours { 
            --icon-code: "\f3b3"; 
            --icon-font-size: 1.3em; 

            //margin-right: auto;

            .hours { 
                margin-left: 0.4em; 
                font-weight: var( --font-weight-semi-bold ); 
            }

        } 

        .contact-panel { 
            justify-content: center; 
            padding-left: unset; 

            .user-action-panel-main { 
                font-size: 1.3em; 
            }

            .candidate-contacts { 
                .contact { 
                    --icon-size: 1.8rem; 
                    
                    --icon-block: 0; 
                    --icon-inline: 0 0.2rem; 
                    --icon-border: none; 

                    // &-value { 
                    //     display: block; 
                    // } 

                    &-email { 
                        --icon-font-size: 1.5em; 
                    } 
                } 
            } 
                    
        } 
    } 
 
    .user-actions { 
        margin-left: auto; 

        // > * { 
        //     //display: flex; justify-content: center; 
        //     //position: relative;             
        // }

        .lang-select {
            --icon-code: "\f276"; 
            --icon-font-size: 1.4em; 
        } 

        .theme-select {
            --icon-code: "\f3b0"; // \f468 \f467 
            --icon-font-size: 1.6em; 
        }

        .login { 
            --icon-code: "\f47d"; 
            --icon-font-size: 1.7em; 

            position: relative; 
            margin-left: 1rem; 

            &::after { 
                display: block; 
                position: absolute; right: 100%; margin-right: 0.5rem; 
                top: 25%; bottom: 25%; 
                border-left: 1px solid; 
                content: ""; 
            } 
            
        } 
        
    } 

    .id { 
        justify-content: center; 
        padding-block: 2em; 
        //width: 100%; 
        //border: solid; border-width: 1px 0; border-color: rgba( var( --color-3-rgb ), 0.2 ); 
    } 

    .main-nav {
        margin-left: 8em; 
    }

    .main-nav, 
    .social-links {
        --icon-size: 1.2em;  
    } 

    
    
    // .product-group-image { 
    //     --width: 10rem; --height: 8rem; 
    // }
    
    // .product-group-image { 
    //     float: left; 
    // } 
    
    // .main-nav .product-group::after {
    //     content: ""; 
    //     display: table; 
    //     clear: both; 
    // } 

}