.site-header { 
    --link-padding-block: 0.5em;  
    --link-padding-inline: 1em; 
    --icon-size: 1.2rem; 
    --icon-font-size: 1.2rem;
    --icon-inline: 0 0.4rem; 

    & { 
        display: flex; flex-wrap: wrap; 
        justify-content: center; 
        position: relative; 
        text-transform: uppercase; 
        font-family: var( --font-family-2 ); 
        font-size: 0.8em; 
    } 

    .link, .button { 
        text-decoration: none;
    }

    .header-pane, 
    .contacts, .user-actions, 
    .id, 
    .main-nav, 
    .main-nav-list, 
    .main-nav-entry, 
    .main-nav-link, 
    .social-links-list {
        display: flex; align-items: center; 
    } 

    :where( 
        .header-pane .button, 
        .header-pane .working-hours, 
        .main-nav .has-subnav, 
        .shopping-cart-link, 
        .header .social-link 
    ) { 
        display: flex; align-items: center;  
    } 

    .header-pane {  
        --header-pane-background-color-opacity: 0.8; 
        --header-pane-color-opacity: 0.8; 
        --header-pane-background-color: rgba( var( --color-grayscale-dark-rgb ), var( --header-pane-background-color-opacity ) ); 
        --header-pane-color: rgba( var( --color-grayscale-light-rgb ), var( --header-pane-color-opacity ) );
        --icon-font-size: 1.3em; 

        // padding-block: 0.5em; 
        padding-inline: 1.25rem; 
        width: 100%; 
        background-color: var( --header-pane-background-color ); color: var( --header-pane-color );  
        

        .button { 
            padding-block: 1.8em; padding-inline: 1em; 
            color: inherit; 
        } 

        font-size: 0.85em; 
    } 

    .contacts { 
        align-items: center;  

        > * + * {
            margin-left: 1.5em; 
        } 

        .contacts-heading { 
            margin-block: 0; 
            font-size: 1em; 
        } 

        .contact {
            display: flex; align-items: center; 
            font-weight: var( --font-weight-semi-bold ); 
        } 

        .contacts-button {
            font-weight: var( --font-weight-regular ); 
        }

        .contacts-button-phone {
            --icon-code: "\f4b8"; 
            --icon-font-size: 1.7em; 

            //font-size: 1.1em; 
        } 

        .contacts-button-email {
            --icon-code: "\f2c3"; 
            --icon-font-size: 1.2em; 
        }

        .working-hours { 
            --icon-code: "\f3b3"; 
            --icon-font-size: 1.3em; 

            .hours { 
                margin-left: 0.4em; 
                font-weight: var( --font-weight-semi-bold ); 
            }

        }
    } 
 
    .user-actions { 
        margin-left: auto; 

        .lang-select {
            --icon-code: "\f276"; 
            --icon-font-size: 1.4em; 
        } 

        .theme-select {
            --icon-code: "\f467"; // \f468 
            --icon-font-size: 2.4em; 
        }

        .login { 
            --icon-code: "\f47d"; 
            --icon-font-size: 1.7em; 

            position: relative; 
            margin-left: 1rem; 

            &::after { 
                display: block; 
                position: absolute; right: 100%; margin-right: 0.5rem; 
                top: 25%; bottom: 25%; 
                border-left: 1px solid; 
                content: ""; 
            } 
            
        } 
        
    }

    .id { 
        justify-content: center; 
        padding-block: 3em; 
        width: 100%; 
    } 

    .main-nav, 
    .social-links {
        --icon-size: 1.2em;  
    } 

    .user-action-menu {
        display: none; 
    } 
    
    // .product-group-image { 
    //     --width: 10rem; --height: 8rem; 
    // }
    
    // .product-group-image { 
    //     float: left; 
    // } 
    
    // .main-nav .product-group::after {
    //     content: ""; 
    //     display: table; 
    //     clear: both; 
    // } 

}