:root {
    --icon-size: 1rem; 
    --icon-code: unset; 
    --icon-block: 0; 
    --icon-inline: 0; 
    --icon-background-color: transparent;  
    --icon-color: inherit; 
    --icon-border: none; 
    --icon-border-radius: 0; 
    --icon-font-family: "Ionicons"; 
    --icon-font-size: 1rem; 
    --icon-left-holder-padding: unset; 
} 

// Where to place an icon 
:where( 
    .invite-details > *, 
    .invite > .paragraph, 
    .quote-icon, 
    .main-nav-open-button, 
    .question-title, 
    .candidate-contacts .contact-value, 
    .id, 
    .header-pane .user-action-button, 
    .header-pane .contacts-button, 
    .close-button, 
    .working-hours, 
    .has-subnav > .main-nav-link, 
    .shopping-cart-link, 
    .header .social-link, 
    //.features-entry > .heading, 
    .quality-entry, 
    .selected-products .product-feature, 
    .read-more-button, 
    .buy-product-button, 
    .button-value, 
    .footer-contacts .contact 
)::before { 
    box-sizing: border-box; 
    display: flex; justify-content: center; align-items: center; 
    margin-block: var( --icon-block ); margin-inline: var( --icon-inline ); 
    width: var( --icon-size ); height: var( --icon-size ); 
    background-color: var( --icon-background-color ); 
    color: var( --icon-color ); 
    border: var( --icon-border ); border-radius: var( --icon-border-radius ); 
    content: var( --icon-code ); 
    font-family: var( --icon-font-family ); 
    font-size: var( --icon-font-size ); 
} 


// Where the icon is on the left side 

.main-nav-open-button, 
//.working-hours, 
.question-title, 
.selected-products .product-feature { 
    & { 
        box-sizing: border-box; 
        position: relative; 
        //padding-left: var( --icon-left-holder-padding ); 
        text-align: left; 

        > * {
            margin-left: calc( var( --icon-size ) + var( --icon-to-content-x ) ); 
        } 

    }

    &::before { 
        position: absolute; left: var( --icon-left-holder-padding, 0 ); 
    } 
} 

//Where the icon is centered vertically 
.main-nav-open-button, 
//.working-hours, 
.question-title, 
.selected-products .product-feature { 
    &::before { 
        top: 50%; transform: translateY( -50% ); 

    } 
} 
