.image {
    --width: 100%; 
    --height: var( --width, 5rem ); 
} 

.image { 
    max-width: 100%; 
    height: auto; 
    //background-color: rgb( 235, 235, 235 ); 
} 

.entry .image {
    
    max-width: 100%; height: 100%; 
    object-fit: contain; object-position: bottom; 
}
