.main-nav { 
    --shopping-cart-link-left: 3em; 
    --shopping-cart-separator-left: 1em; 
    --shopping-cart-separator-width: 1px; 
    --shopping-cart-separator-y: 20%; 
    --shopping-cart-separator-opacity: 0.5; 

    font-weight: var( --font-weight-medium ); 

    .main-nav-list { 
        --icon-inline: 0.4em 0; 

        align-items: stretch; 
        // padding-right: 2em; 
        // border-right: 1px solid; 

    } 

    .main-nav-list:hover .main-nav-entry .main-nav-link {
        color: inherit; 
    } 

   
    .main-nav-entry:first-child .main-nav-link, 
    .main-nav-list .main-nav-entry .main-nav-link:hover { 
        color: var( --color-1 ); 
    }

    .main-nav-entry:hover .subnav { 
        left: 0; top: 100%; z-index: 3; 
    } 

    // .main-nav-entry:nth-child( 3 ) .subnav { 
    //     left: 0; 
    // }



   

    .main-nav-link { 
        box-sizing: border-box; 
        padding-block: 1.4em; padding-inline: 1.4em; 
    } 

    .has-subnav {  
        --icon-code: "\f3d0"; 

        flex-direction: row-reverse; 
        padding-right: 0.8em; 
    } 

    .subnav { 
        box-sizing: border-box; 
        display: flex; justify-content: flex-start; 
        
        padding: 0rem; 
        padding-left: 50%; 
        width: 100%; 
        background-color: rgb( 255, 255, 255 ); 
        // width: 20rem; 
        border-style: solid; border-color: rgba( 0, 0, 0, 0.253 ); border-width: 1px 0; 
        
        &-group-link {
            display: block; 
        }
    }
     
    .subnav-group { 
        box-sizing: border-box; 
        display: flex; 
        position: relative; 
        padding: 8em; //padding-left: 15rem; 
        width: 45rem; 
        //transform: translateX( -100% ); 
        
        
        &:first-child {
            margin-left: -45rem; 
        } 

        > * + * { 
            margin-left: 1em; 
        } 

        .text-content {
            padding-block: 12em; 
        }

        .heading { 
            margin-bottom: 1em; 
            padding: 0.6em 1.4em; 
            //width: 8em; 
            font-size: inherit; font-weight: bold; 
            line-height: 1.5; 
        }

        .image { 
            display: block; 
            // position: absolute; left: 0; top: 0; 
            margin: 0; 
            width: 25rem; 
            min-height: 22em; 
            object-fit: cover; 
            //background-color: rgb(190, 190, 190); 
            //border: 1px solid; 
            border-radius: 8px; 
        } 

        .link-list { 
            display: flex; 
            width: max-content; 
            
        } 

        .subnav-group-link {
            padding-block: 0.6em; 
            
        }

        // .subnav-group-link + .subnav-group-link {
        //     margin-top: 0.2em; 
        // } 
         
    } 

    .shopping-cart-link { 
        --icon-code: "\f3f8";  
        --icon-size: 1.3em; 

        position: relative;
        margin-left: var( --shopping-cart-link-left ); 

        &::after { 
            display: block; 
            position: absolute; right: 100%; margin-right: var( --shopping-cart-separator-left ); 
            top: var( --shopping-cart-separator-y ); bottom: var( --shopping-cart-separator-y ); 
            border-left: var( --shopping-cart-separator-width ) solid; 
            content: ""; 
            opacity: var( --shopping-cart-separator-opacity ); 

        } 
    }
} 
