.main-nav { 
    // Main navigation link 
    --main-nav-link-padding-block: 3em; 
    --main-nav-link-padding-inline: 1.4em; 
    --main-nav-link-has-subnav-text-to-icon-x: 0.4em; 
    --main-nav-link-has-subnav-icon-code: "\f3d0";  
    --main-nav-link-has-subnav-icon-font-size: 1.4em; 
    --main-nav-link-has-subnav-padding-x: 0.8em; 
    --main-nav-font-size: inherit; 
    --main-nav-link-current-color: rgb( var( --color-1-rgb ) ); 

    // Shopping cart link 
    --shopping-cart-link-left: 3em; 
    --shopping-cart-separator-left: 1em; 
    --shopping-cart-separator-width: 1px; 
    --shopping-cart-separator-y: 20%; 
    --shopping-cart-separator-opacity: 0.5; 
    --shopping-cart-separator-color: rgb( var( --color-3-rgb ) ); 
    --shopping-cart-icon-code: "\f3f8"; 
    --shopping-cart-icon-size: 1.3em; 

    // Subnavigation 
    --subnav-width: 100%; 
    --subnav-background-color-opacity: 0.9; 
    --subnav-background-color: rgba( var( --color-grayscale-light-rgb ), var( --subnav-background-color-opacity ) ); 
    --subnav-border-width: 1px; 
    --subnav-border-color-opacity: 0.5; 
    --subnav-border-color: rgba( var( --color-3-rgb ), var( --subnav-border-color-opacity ) ); 
    --subnav-padding-block: 8rem; 
    --subnav-padding-inline: 4rem; 
    --subnav-groups-distance-x: 4rem; 
    
    --subnav-group-padding-block: 3rem;  
    --subnav-group-image-to-text-x: 2em; 
    --subnav-heading-margin-bottom: 1em; 
    --subnav-heading-padding-block: 0.6em; 
    --subnav-heading-line-height: 1.5; 
    --subnav-image-width: 25em; 
    --subnav-image-min-height: 25em; 
    // --subnav-image-border: 1px solid; 
    // --subnav-image-border-color: rgba( var( --color-3-rgb ), 0.5 ); 
    --subnav-image-border-radius: 8px; 
    --subnav-group-blocks-x: 2em; 
    --subnav-link-padding-block: 0.6em; 
    --subnav-link-padding-inline: 0.8em; 
    

    font-size: var( --main-nav-font-size ); 
    font-weight: var( --font-weight-medium ); 
    
    .main-nav-list { 
        align-items: stretch; 
        // padding-right: 2em; 
        // border-right: 1px solid; 

    } 
    
    // Main navigation link hover effect: 
    // link is highlighted, when current or hovered 
    // and when its subnavigation is on  

    .current-entry > .main-nav-link, 
    &:hover .main-nav-link:hover, 
    .main-nav-entry:hover > .main-nav-link { 
        color: var( --main-nav-link-current-color ); 
    } 

    // Turns off current link highlighting on other link hover so 
    // only one link is highlighted at any moment 
    &:hover .main-nav-link {
        color: inherit; 
    } 

    .main-nav-entry { 
        .subnav { 
            transform: translateY( 50px ); 
            opacity: 0;  
        } 
    
        //.subnav-group, 
        // .subnav-group > * { 
        //     transform: translateY( 30px ); 
        //     opacity: 0; 
        // }
    
        //&:nth-child( 2 ), 
        &:hover {  
            .subnav { 
                left: 0; right: 0; 
                top: 98%; 
                z-index: 3; 
            } 

            // .subnav-group { 
            //     transform: translateY( 0 ); 
            //     opacity: 1; 
            //     transition: transform 0.3s 0.15s, opacity 0.2s 0.15s; 
            // } 

            .subnav, 
            .subnav-group > * {
                transform: translateY( 0 ); 
                opacity: 1; 
                transition: transform 0.3s, opacity 0.2s; 
            } 

            .subnav-group { 
                &:nth-child( 1 ) { 
                    > .image {
                        transition-delay: 0.2s; 
                    } 

                    > .text-content {
                        transition-delay: 0.25s; 
                    }
                } 

                &:nth-child( 2 ) { 
                    > .image {
                        transition-delay: 0.3s; 
                    } 

                    > .text-content {
                        transition-delay: 0.35s; 
                    }
                }
            }

        } 
    }

    .main-nav-entry {
        justify-content: center; 
    }

    .main-nav-link:not( .subnav-group-link ) { 
        box-sizing: border-box; 
        padding-block: var( --main-nav-link-padding-block ); padding-inline: var( --main-nav-link-padding-inline ); 
    }  

    .has-subnav > .main-nav-link {  
        --icon-code: var( --main-nav-link-has-subnav-icon-code ); 
        --icon-inline: var( --main-nav-link-has-subnav-text-to-icon-x ) 0;  
        --icon-font-size: var( --main-nav-link-has-subnav-icon-font-size );  

        flex-direction: row-reverse; 
        padding-right: var( --main-nav-link-has-subnav-padding-x ); 
    } 

    .subnav { 
        box-sizing: border-box; 
        //display: flex; justify-content: flex-start; 
        position: absolute; 

        margin-inline: 2rem; 
        
        padding-block: var( --subnav-padding-block ); 
        padding-inline: var( --subnav-padding-inline ); 
        
        //width: var( --subnav-width );  
        background-color: #e7eaea; 
        background-color: rgba( 231, 234, 234, 0.95 ); //color: rgba( var( --color-grayscale-light-rgb ), 0.8 ); 
        //border-style: solid; border-color: var( --subnav-border-color ); border-width: var( --subnav-border-width ); 
        border-radius: 10px; 
        box-shadow: 0 0 10px 1px rgba( 0, 0, 0, 0.2 ); 
        //box-shadow: 0 0 15px rgba( var( --color-grayscale-dark-rgb ), 0.8 ); 

        .entry-list { 
            margin-top: 3em; 
            font-size: 1.2em; 
            text-transform: none; 
            
            font-weight: var( --font-weight-regular ); 

            .heading {
                font-weight: var( --font-weight-medium ); 
            }
           

            :first-child {
                margin-top: 0; 
            } 

            .read-more-button { 
                --icon-size: 1rem; 
                --icon-font-size: 1.2em; 
                --icon-inline: 0 0.5em; 
                // --icon-border: 1px solid; 
                // --icon-border-radius: 50%; 

                --read-more-button-position-correction: calc( -1 * var( --button-padding-inline ) ); 
                --button-margin-inline: var( --read-more-button-position-correction ) 0; 
                --button-padding-block: 0; 
                
                
            } 

        }
             
        &-priorities-list {
            --column-count: 3; 
            --column-gap-x: 1.5em; 
            --column-gap-y: 3.5em; 

            > .entry:nth-child( -n + 3 ) { 
                margin-top: 0; 
            }
    
            > .entry:nth-child( 3n + 1 ) { 
                margin-left: 0; 
            }  

            counter-reset: entry-counter; 

            .entry { 
                counter-increment: entry-counter; 
                font-family: var( --font-family-1 ); 

                .heading::before { 
                    display: block; 
                    margin-bottom: 1em; 
                    font-family: var( --font-family-2 ); font-size: 2.5em; 
                    font-weight: var( --font-weight-regular ); 
                    content: counter( entry-counter ); 
                    //text-align: center; 
    
                } 
            }

        } 

        

            
            
        

        
    } 

    // .subnav-group + .subnav-group {
    //     margin-left: var( --subnav-groups-distance-x ); 
    // } 

    // .shopping-cart-link { 
    //     --icon-code: var( --shopping-cart-icon-code ); 
    //     --icon-size: var( --shopping-cart-icon-size );  

    //     position: relative;
    //     margin-left: var( --shopping-cart-link-left ); 

    //     &::after { 
    //         display: block; 
    //         position: absolute; right: 100%; margin-right: var( --shopping-cart-separator-left ); 
    //         top: var( --shopping-cart-separator-y ); bottom: var( --shopping-cart-separator-y ); 
    //         width: var( --shopping-cart-separator-width ); 
    //         background-color: var( --shopping-cart-separator-color ); 
    //         content: ""; 
    //         opacity: var( --shopping-cart-separator-opacity ); 

    //     } 
    // }
} 

.team-member-list { 
    --column-count: 4; 
    --column-gap-x: 2.5em; 
    

    > .entry:nth-child( -n + 4 ) { 
        margin-top: 0; 
    }

    > .entry:nth-child( 4n + 1 ) { 
        margin-left: 0; 
    } 

    .team-member { 
        //display: flex; 

        > * + * {
            margin-left: 0.8em; 
        }

    } 

    .image { 
        display: block; 
        width: 100%; height: 12rem; 
        border-radius: 12px; 
        max-width: none; 
        object-fit: cover; object-position: top; 
    } 

    .text-content { 
        margin-top: 2em; 
        width: auto; 
        
    } 

    .details { 
        //display: flex; 
        //text-transform: uppercase; 
    
        // > * {
        //     border-bottom: 1px solid; 
        // } 
    
        // > * + * {
        //     margin-left: 0.8em; 
        // } 
    
        .text {
            //font-size: 0.75em; 
            font-weight: var( --font-weight-light );
            
        } 
    
        .value { 
            display: block; 
            font-size: var( --value-font-size ); 
            font-weight: var( --font-weight-semi-bold ); 
            text-transform: uppercase; 
            
        } 
    } 
}


