// Header 
@media screen and ( max-width: 1100px ) { 
    .site-header { 
        .id { 
            order: 2; 
            padding-block: 3em; 
            //width: 100%; 
        } 

        .main-nav { 
            --main-nav-link-padding-block: 1.5em; 

            order: 4; 
            margin-left: 0; margin-top: -2rem; 
            width: 100%; 

            > * {
                margin-inline: auto; 
            }
        } 

        .social-links { 
            order: 3; 
            margin-left: 2rem; 
            //margin-top: -2em; 
            //width: 100%; 

            > * {
                margin-inline: auto; 
            }
        }
    }
    
} 

@media screen and ( max-width: 720px ) { 
    .site-header { 
        // .contact + .contact { 
        //     margin-left: 0.5em; 
        // } 

        .contacts-button { 
            --icon-size: 2.5rem; 
            // --icon-block: 0; 
            --icon-inline: 0; 
            // --icon-background-color: transparent;  
            // --icon-color: inherit; 
            --icon-border: 1px solid; 
            --icon-border-radius: 50%; 
            // --icon-font-family: "Ionicons"; 
            // --icon-font-size: 1rem; 

            overflow: hidden; 

            .button-text {
                position: absolute; left: -10000px; top: -10000px; 
            }
        }
    }
    
} 

@media screen and ( max-width: 430px ) { 
    .site-header { 
        .contacts { 
            //display: block; 
            flex-wrap: wrap; 
            justify-content: center; align-content: center; 
            margin-left: 0; 
            padding-block: 1.5em; 

            .user-actions { 
                justify-content: center; 
                margin-top: 1em; margin-left: 0; 
                width: 100%; 

                > * + * {
                    margin-left: 1em; 
                }
            }

            .contact {
                display: inline-block; 
            }

            .working-hours { 
                --icon-size: 1.4rem; 
                --icon-to-content-x: 0.4rem; 
                --icon-font-size: 2.2em; 

                //display: unset; 
                
                .hours { 
                    //display: block; 
                    margin-left: 0; 
                } 
            } 

            .contacts-button { 
                --button-padding-block: 0; 
                
            }
        } 

        // .contacts-heading { 
        //     position: absolute; left: -10000px; top: -10000px; 
        // } 
    }
    
} 

@media screen and ( max-width: 720px ) { 
    @import 'flyout-nav'; 

    .social-links { 
        margin-left: 0; 
    }
    
} 

// Company Features 
@media screen and ( max-width: 640px ) { 
    .company-features-actions {
        flex-direction: column; align-items: center; 

        > * + * { 
            margin-left: 0; 
            margin-top: 0.5em; 
        } 
    }
    
} 

// Priorities 
@media screen and ( max-width: 820px ) { 
    .priorities-list .entry { 
        > * {
            flex-grow: 3; 
        } 
    } 
    
} 

@media screen and ( max-width: 820px ) { 
    .priorities-list {
        --column-gap-y: 2.5em; 
    } 

    .priorities-list .entry:nth-child( n ) { 
        flex-direction: column; 

        &::after, 
        > * {
            text-align: left; 
        } 

        &::after { 
            order: 1;   
            margin-bottom: 0.5em; 
        } 

        > * {
            order: 2; 
        } 

        .read-more-button {
            --button-margin-inline: var( --read-more-button-position-correction ) auto; 
        } 
    } 
    
} 

// Team 
@media screen and ( min-width: 1281px ) { 
    .team-list { 
        --column-count: 4; 
        --column-gap-x: 1em; 

        > .entry:nth-child( -n + 4 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 4n + 1 ) { 
            margin-left: 0; 
        } 
 
    } 
    
} 

@media screen and ( min-width: 781px ) and ( max-width: 1280px ) { 
    .team-list { 
        --column-count: 2; 
        --column-gap-x: 1em; 
        --max-width: 740px; 

        > .entry:nth-child( -n + 2 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 2n + 1 ) { 
            margin-left: 0; 
        } 

    } 
    
} 

@media screen and ( max-width: 780px ) { 
    .team-list { 
        --column-count: 1; 
        --column-gap-x: 0em; 
        --column-gap-y: 1em; 
        --max-width: 360px; 

        > .entry:nth-child( 1 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( n ) { 
            margin-left: 0; 
        } 
 
    } 
    
} 

// News 
@media screen and ( min-width: 781px ) { 
    .news-list { 
        --column-count: 2; 
        --column-gap-x: 1.5em; 

        > .entry:nth-child( -n + 2 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 2n + 1 ) { 
            margin-left: 0; 
        } 

    } 
    
} 

@media screen and ( max-width: 780px ) { 
    .news-list { 
        --column-count: 1; 
        --column-gap-x: 0em; 
        --column-gap-y: 2em; 
        --max-width: 480px; 

        > .entry:nth-child( 1 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( n ) { 
            margin-left: 0; 
        } 

    } 
    
} 

// Reviews 
@media screen and ( min-width: 781px ) { 
    .reviews-list { 
        --column-count: 2; 
        --column-gap-x: 2em; 
        --column-gap-y: 3em; 

        > .entry:nth-child( -n + 2 ) { 
            margin-top: 0; 
        }
    
        > .entry:nth-child( 2n + 1 ) { 
            margin-left: 0; 
        } 

    } 
    
} 

@media screen and ( max-width: 780px ) { 
    .reviews-list { 
        --column-count: 1; 
        --column-gap-x: 0em; 
        --column-gap-y: 2em; 
        --max-width: 420px; 

        > .entry:nth-child( 1 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( n ) { 
            margin-left: 0; 
        } 

    } 
    
} 

// Send Message 
@media screen and ( max-width: 520px ) { 
    .send-message-section .form {
        padding: 0; 
        border: 0; 
    }
    
} 

// Article 
@media screen and ( max-width: 740px ) { 
    .article {
        padding-left: 2.5em; 
    }
    
} 

// Team Member List 
@media screen and ( min-width: 1201px ) { 
    .team-member-list { 
        --column-count: 4; 
        //--max-width: 1100px; 
        

        > .entry:nth-child( -n + 4 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 4n + 1 ) { 
            margin-left: 0; 
        } 
    } 
} 

@media screen and ( min-width: 701px ) and ( max-width: 1200px ) { 
    .team-member-list { 
        --column-count: 2; 
        --max-width: 680px; 
        

        > .entry:nth-child( -n + 2 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 2n + 1 ) { 
            margin-left: 0; 
        } 
    } 
} 

@media screen and ( max-width: 700px ) { 
    .team-member-list { 
        --column-count: 1; 
        --column-gap-x: 0em; 
        --max-width: 320px; 
        

        > .entry:nth-child( 1 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( n ) { 
            margin-left: 0; 
        } 
    } 
} 

// Subnav Priorities List 
@media screen and ( min-width: 1201px ) { 
    .subnav-priorities-list { 
        --column-count: 3; 

        > .entry:nth-child( -n + 3 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 3n + 1 ) { 
            margin-left: 0; 
        }   
    } 
} 

@media screen and ( min-width: 801px ) and ( max-width: 1200px ) { 
    .subnav-priorities-list { 
        --column-count: 2; 
        --max-width: 680px; 

        > .entry:nth-child( -n + 2 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 2n + 1 ) { 
            margin-left: 0; 
        } 
    } 
} 

@media screen and ( max-width: 800px )  { 
    .subnav-priorities-list { 
        --column-count: 1; 
        --column-gap-x: 0em; 
        --column-gap-y: 3.5em; 
        --max-width: 320px; 
        //--max-width: 680px; 
        

        > .entry:nth-child( 1 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( n ) { 
            margin-left: 0; 
        } 
    } 
} 

// Form Panel 
@media screen and ( min-width: 1081px )  { 
    .form-panel { 
        padding-left: 50%; 
    
        &::after { 
            right: 50%; 
        } 

        .user-action-panel-main { 
            margin-left: 4rem; 
            width: 70%; 
        }
    } 
} 

@media screen and ( max-width: 1080px )  { 
    .form-panel { 
        padding-inline: 2em;   
    
        &::after { 
            right: 0; 
        } 

        .user-action-panel-main { 
            width: 100%; 
        } 

        &:target { 
            &::after { 
                opacity: 0.2; 
            } 
        }
    } 
} 

// Section Paragraphs
@media screen and ( max-width: 620px ) { 
    .section > :where( .paragraph ) {
        text-align: left; 
    } 
    
} 

// Footer 
@media screen and ( max-width: 820px ) { 
    .site-footer { 
        .company-info {
            max-width: none; 
        } 
    }
    
} 

@media screen and ( max-width: 640px ) { 
    .site-footer { 
        .company-info {
            text-align: left; 
        } 
    }
    
} 
