

.news { 
    --entry-list-margin-top: 3em; 

    --date-font-size: 1.4em; 
    --date-padding: 2em; 
    --date-border: 1px solid; 
    --date-border-radius: 12px 12px 0 0; 
    --month-font-size: 1.1em; 
    --day-font-size: 2.5em; 
    --year-font-size: 1.1em; 

    --button-margin-top: 2em; 

    text-align: center; 

    &-list { 
        --column-count: 3; 
        --column-gap-x: 1.5em; 

        > .entry:nth-child( -n + 3 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 3n + 1 ) { 
            margin-left: 0; 
        } 

        & {
            margin-top: var( --entry-list-margin-top ); 
        }

        .heading { 
            font-size: var( --font-size-level-4 ); font-weight: var( --font-weight-semi-bold ); 
        } 

    } 

    .date { 
        display: flex; flex-direction: column; 
        padding: var( --date-padding );  
        border: var( --date-border ); border-radius: var( --date-border-radius ); 
        font-family: var( --font-family-2 ); 
        font-size: var( --date-font-size ); 
        line-height: 1.2; 

        .month {
            font-size: var( --month-font-size ); 
            text-transform: uppercase; 
        } 
    
        .day {
            font-size: var( --day-font-size ); font-weight: var( --font-weight-semi-bold ); 
        } 
    
        .year {
            font-size: var( --year-font-size ); 
        } 

    } 

}