.news { 
    --entry-list-margin-top: 3em; 
    --entry-heading-font-size: var( --font-size-level-4 ); 
    --entry-heading-font-weight: var( --font-weight-semi-bold );

    
    --date-border-width: 1px; 
    --date-border-style: solid; 
    --date-border-radius: 12px 12px 0 0; 
    

    --button-margin-top: 2em; 

    & { 
        text-align: center; 
    }

    &-list { 
        

        & {
            margin-top: var( --entry-list-margin-top ); 
        }

        .heading { 
            font-size: var( --entry-heading-font-size ); font-weight: var( --entry-heading-font-weight ); 
        } 

    } 

} 
