// Constantly hidden 
.header-heading:not( .contacts-heading ), 
.close-button .button-text, 
.splide__arrow .button-text, 
//.main-nav-open-button .button-text, 
.social-link .icon-text,
.company-features > .heading, 
:where( .footer-contacts, .footer-nav ) > .heading {
    position: absolute; left: -10000px; top: -10000px; 
    width: 1px; height: 1px; overflow: hidden; 
} 


// Hidden until triggering interaction  
.subnav {
    position: absolute; left: -10000px; top: -10000px; 
}
