.principles { 
    --entry-distance-y: 4em; 
    --entry-padding-y: 5rem; 
    --entry-border-radius: 8px; 

    --entry-text-content-padding-y: 8rem; 
    --entry-text-content-padding-x: 2.5em; 
    --entry-text-content-background-color: rgba( var( --color-grayscale-light-rgb ), 0.9 ); 
    --entry-text-content-border-radius: var( --entry-border-radius );  
    --entry-text-content-margin-inline: var( --entry-padding-y ); 
    --entry-text-content-heading-padding-block: 0; 

    --entry-counter-margin-block: 0 0.5em; 
    --entry-counter-margin-inline: auto; 
    --entry-counter-width: 2em; 
    --entry-counter-height: var( --entry-counter-width ); 
    --entry-counter-font-size: 1.5em; 
    --entry-counter-border: 1px solid rgba( var( --color-3-rgb ), 0.5 ); 
    --entry-counter-border-radius: 50%; 

    --entry-image-width: 50%; 
    --entry-image-height: 100%; 

}

.principles { 

    &-list { 
        counter-reset: principle-counter; 

        > * + * {
            margin-top: var( --entry-distance-y ); 
        } 
    } 

    .entry { 
        counter-increment: principle-counter; 
        
        box-sizing: border-box; 
        padding-block: var( --entry-padding-y ); 
        border-radius: var( --entry-border-radius ); 

        &:nth-child( 2n + 1 ) { 
            .image {
                right: 0; 
            } 
        } 
    
        &:nth-child( 2n ) { 
            .image {
                left: 0; 
            } 
        } 

        .heading { 
            padding-bottom: var( --entry-text-content-heading-padding-block ); 
            font-size: var( --font-size-level-4 ); 
            
            &::before { 
                display: flex; 
                justify-content: center; align-items: center; 
                margin-block: var( --entry-counter-margin-block ); margin-inline: var( --entry-counter-margin-inline ); 
                width: var( --entry-counter-width ); height: var( --entry-counter-height ); 
                border: var( --entry-counter-border ); 
                border-radius: var( --entry-counter-border-radius ); 
                font-family: var( --font-family-2 ); font-size: var( --entry-counter-font-size ); 
                content: counter( principle-counter ); 
            } 
        } 
    } 

    .image { 
        display: block; 
        position: absolute; z-index: 1; 
        top: 0; 
        width: var( --entry-image-width ); height: var( --entry-image-height ); 
        object-fit: cover; 
        border-radius: var( --entry-border-radius ); 
    } 

    .text-content { 
        position: relative; z-index: 2;  
        box-sizing: border-box; 
        margin-inline: var( --entry-text-content-margin-inline ); 
        padding-block: var( --entry-text-content-padding-y ); padding-inline: var( --entry-text-content-padding-x );  
        background-color: var( --entry-text-content-background-color ); 
        border-radius: var( --entry-text-content-border-radius ); 
        text-align: center; 

        > * {
            position: relative; z-index: 2; 
        }
    } 
    
} 
