body { 
    padding-top: 15rem; padding-bottom: 15rem; 

} 

.product-groups { 
    --text-content-padding-y: 4rem; 

    // * + * {
    //     margin-top: 0.5em; 
    // } 

    // .heading {
    //     margin-bottom: 0.6em; 
    // } 

    // .text-content {
    //     margin-top: 0; 
    // } 
}

.product-groups { 

    > .control-list { 
        --column-count: 5; 
        --column-gap-x: 0.5em; 
        --control-list-font-size: 0.8em; 
        --control-list-margin-block-top: 3em; 
        --control-link-height: 2.2em; 
        --control-link-border-width: 1px; 
        --control-link-border-radius: 5px; 
        --control-link-border-color: inherit; 

        > .entry:nth-child( -n + 5 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 5n + 1 ) { 
            margin-left: 0; 
        } 

        & { 
            margin-left: 50%; margin-top: var( --control-list-margin-block-top ); 
            font-size: var( --control-list-font-size );  
        }

        .control-link {
            display: flex; justify-content: center; align-items: center; 
            height: var( --control-link-height );   
            border-width: var( --control-link-border-width ); border-style: solid; border-color: var( --control-link-border-color ); 
            border-radius: var( --control-link-border-radius ); 
            text-decoration: none; text-align: center; text-transform: uppercase; 
        }
    } 

    &-entry:not( :first-child ) {
        display: none; 
    } 

    .entry {
        position: relative; 
    } 

    & .image {
        position: absolute; left: 0; 
        height: 80%; 
    } 

    .heading {
        font-weight: var( --font-weight-bold ); 
    } 

    & .text-content { 
        margin-left: auto; 
        //width: 50%;  

        // :not( .paragraph ) + .paragraph {
        //     margin-top: 0.8em; 
        // } 

        // .paragraph + :not( .paragraph ) {
        //     margin-top: 1.2em; 
        // } 

    } 

    & .product-group-text-content {
        padding-block: var( --text-content-padding-y ); 
    }

    .product-list { 
        --column-count: 2; 
        --column-gap-x: 1.2em; 
        --column-gap-y: 1.8em; 
        --text-content-padding-y: 2em; 

        > .entry:nth-child( -n + 2 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 2n + 1 ) { 
            margin-left: 0; 
        } 

        &-heading { 
            font-weight: var( --font-weight-regular ); 
        } 

        .entry {
            display: flex; align-items: flex-start; 
        }

        .text-content { 
            padding-block: var( --text-content-padding-y ); 
            //min-height: 10rem; 
            width: 60%; 

            .heading { 
                font-weight: var( --font-weight-semi-bold ); 
            } 
        } 

        .image { 
            position: initial; 
            width: 40%; 
            height: auto; 
            
        } 
    } 

    .product-feature-list { 
        --column-width: auto; 
        // --column-count: 2; 
        // --column-gap-x: 0.2em; 

        gap: 1em; 
        
        // > .entry:nth-child( -n + 2 ) { 
        //     margin-top: 0; 
        // }

        // > .entry:nth-child( 2n + 1 ) { 
        //     margin-left: 0; 
        // } 
        
        // > .entry { 
        //     margin-top: 0; 
        // } 

    } 

} 
