.section { 
    --paragraph-block-distance-y: 2em; 

    & { 
        width: 960px; 
        margin: {
            left: auto; right: auto; 
        } 
    } 

    * + * {
        margin-top: 0.5em; 
    } 

    .paragraph + .paragraph {
        margin-top: 1em; 
    }

    :not( .paragraph ) + .paragraph {
        margin-top: var( --paragraph-block-distance-y ); 
    } 

    .paragraph + :not( .paragraph ) {
        margin-top: var( --paragraph-block-distance-y ); 
    } 

    // .heading + .paragraph {
    //     margin-top: 2em; 
    // } 

    // .paragraph + .entry-list {
    //     margin-top: 2em; 
    // } 

    .text-content {
        margin-top: 0; 
    } 
}

.quality { 

    & {
        text-align: center; 
    }

    &-list { 
        --column-count: 3; 
        --column-gap-x: 0em; 

        --icon-size: 1.2em; 
        --icon-code: "\2713"; 

        .entry {
            box-sizing: border-box; 
            padding: 1.2em; padding-bottom: 2.5em; 
        }

        > .entry:nth-child( -n + 3 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 3n + 1 ) { 
            margin-left: 0; 
        } 

        > .entry::before { 
            display: block; 
            margin: { 
                left: auto; right: auto; bottom: 0.4em;     
            } 
            width: var( --icon-size ); height: var( --icon-size ); 
            line-height: var( --icon-size ); text-align: center; 
            // border: 1px solid; border-radius: 50%; 
            font-size: 1.8em; 

            content: var( --icon-code ); 
        } 

        .entry:nth-child( 2 ) {
            border: 1px solid; border-radius: 10px; 
        }

        .heading { 
            font-size: 1.2em; 
        } 

        .heading + .paragraph {
            margin-top: 1.2em; 
        }
    }

}