.quality { 
    text-align: center; 

    > .heading {
        margin-bottom: 0; 
    }

    .subheading {
        margin-bottom: 3em; margin-top: 1em; 
    }

    &-list { 
        --column-count: 3; 
        --column-gap-x: 0em; 

        --entry-list-margin-top: 4em; 
        --entry-padding-inline: 3.5em; 
        --entry-padding-block: 3.5em 5em; 

        --icon-size: 0.5em; 
        --icon-font-size: 4em; 
        --icon-inline: auto; 
        --icon-block: 0 0.4em; 
        --icon-code: "\f3fd"; 

        > .entry:nth-child( -n + 3 ) { 
            margin-top: 0; 
        }

        > .entry:nth-child( 3n + 1 ) { 
            margin-left: 0; 
        } 

        & { 
            margin-top: var( --entry-list-margin-top ); 
        }

        .entry {
            box-sizing: border-box; 
            padding-inline: var( --entry-padding-inline ); padding-block: var( --entry-padding-block ); 
        }

        // > .entry::before { 
        //     display: block; 
        //     margin: { 
        //         left: auto; right: auto; bottom: 0.4em;     
        //     } 
        //     width: var( --icon-size ); height: var( --icon-size ); 
        //     line-height: var( --icon-size ); text-align: center; 
        //     // border: 1px solid; border-radius: 50%; 
        //     font-size: 1.8em; 

        //     content: var( --icon-code ); 
        // } 

        .entry:nth-child( 2 ) {
            border: 1px solid; border-radius: 10px; 
        }

        .heading { 
            font-size: var( --font-size-level-4 );  
        } 
        
    }

}