.questions { 
    --question-body-padding-x: 1.8em; 
    --question-body-padding-y: 1.8em; 
    --question-body-distance-y: 1.2em; 
    --question-distance-y: 2em; 

    

    .entry + .entry {
        margin-top: 0.5em; 
    }

    .question-title { 
        position: relative; 

        .heading {
            font-size: 1em; font-weight: var( --font-weight-semi-bold ); 
        } 
    } 

    .question { 
        padding-inline: var( --question-body-padding-x );  
        margin-inline: calc( -1 * var( --question-body-padding-x ) ); 
        border: 1px solid; border-radius: 10px; 
        border-color: transparent; 
    } 

    // .question-body {
    //     margin-top: var( --question-body-distance-y ); 
    //     opacity: 0; 
    // } 

    // :target { 
    //     & { 
    //         margin-block: var( --question-distance-y ); 
    //         padding-block: var( --question-body-padding-y ); 
    //         border-color: unset;   
    //         transition: border-color 0.4s 0.2s; 
    //     } 

    //     .question-open-button {
    //         display: none; 
    //     } 

    //     .question-body {    
    //         position: initial; 
    //         opacity: 1; 
    //         transition: opacity 0.4s 0.3s;  
    //     }
    // } 
} 
