.reviews { 

    // &-list {
    //     --column-count: 1; 
    //     --column-gap-x: 2em; 
    //     --max-width: 620px; 

    //     > .entry:nth-child( 1 ) { 
    //         margin-top: 0; 
    //     }
    
    //     > .entry:nth-child( n ) { 
    //         margin-left: 0; 
    //     } 
    // }

    &-entry:nth-child( 2n + 1 ) .review-text-content { 
        //margin-right: 50%; 
    }

    &-entry:nth-child( 2n ) { 
        .review-figure {
            //left: 50%; 
        } 

        .review-text-content { 
            //margin-left: 50%; 
            //flex-direction: row-reverse; 
        } 
    }

} 

.review-figure, 
.review-person {
    border-color: rgba( var( --color-3-rgb ), 0.2 ); 
}

.review { 
    //display: flex; 

    // > * {
    //     width: 50%; 
    // } 

    //position: relative; 

    // > * + * {
    //     margin-left: 2em; 
    // }

    // > * { 
    //     margin-top: 1em; 
    // } 

    //background-color: rgba( var( --color-grayscale-dark-rgb ), 0.025 ); 
    border-width: 1px; border-style: solid; border-color: rgba( var( --color-grayscale-dark-rgb ), 0.125 ); 
    border-radius: 8px; 
    //box-shadow: 0 0 15px 5px rgba( var( --color-grayscale-dark-rgb ), 0.1 ); 

    .article-holder & { 
        // margin-inline: auto; 
        // max-width: 780px; 
        //border: 1px solid; 
        // border-radius: 12px; 
        background-color: rgba( var( --color-grayscale-light-rgb ), 0.9 ); 
    }

    &-figure { 
        display: flex; justify-content: center; align-items: center; 
        position: absolute; 
        //width: 50%; 
        width: 100%; height: 100%; 
        //color: rgba( var( --color-grayscale-dark-rgb ), 0.125 ); 
        //background-color: rgba( var( --color-grayscale-dark-rgb ), 0.02 ); 

        &::after {  
            font-family: var( --icon-font-family ); 
            font-size: 20em; 
            content: "\f11f"; 
            opacity: 0.125; 
        }
    } 

    &-text-content { 
        position: relative; z-index: 2; 
        padding-block: 5em; padding-inline: calc( 1em + 4% ); 
        //border: 1px solid; 

        > * + * {
            margin-top: 2em; 
        }
    }

    &-heading { 
        margin-top: 3em; 
        font-weight: var( --font-weight-semi-bold ); 
    } 

    &-person-name {
        //font-weight: var( --font-weight-semi-bold ); 
    } 

    &-article .image {
        object-position: center top; 
    }
} 

.review-person { 
    --image-width: 3em; 
    --image-height: var( --image-width ); 

    // display: flex; align-items: center; 
    // flex-wrap: wrap; 
    padding-bottom: 1em; 
    border-width: 0 0 1px 0; border-style: solid; 
    font-family: var( --font-family-2 ); 

    .key {
        position: absolute; 
        left: -10000px; top: -10000px; 
    } 

    &-photo { 
        width: var( --image-width ); height: var( --image-height ); 
        background-color: rgba( var( --color-grayscale-dark-rgb ), 0.2 ); 
        border-radius: 50%; 
        overflow: hidden; 

        .image { 
            display: block; 
            //position: absolute; left: 0; 
            width: var( --image-width ); height: var( --image-height ); 
            object-fit: cover; object-position: center top; 
        } 
    }

    .text-content {
        //margin-left: 1em; 
        margin-top: 1em; 
    } 

} 
