.reviews { 
    position: relative; 
    padding-bottom: var( --slider-pagination-block-height ); 
    //background-color: #999; 
    //border-bottom: 1px solid; 

    // &-list { 
    //     display: flex; flex-wrap: nowrap; 
    //     width: 100%; 
    //     overflow-x: scroll; 

    //     > .reviews-entry { 
    //         flex: 1 0 100%; 
    //         width: 100% !important; 
    //     } 
    // } 

    // &-list {
    //     --column-count: 1; 
    //     --column-gap-x: 2em; 
    //     --max-width: 620px; 

    //     > .entry:nth-child( 1 ) { 
    //         margin-top: 0; 
    //     }
    
    //     > .entry:nth-child( n ) { 
    //         margin-left: 0; 
    //     } 
    // } 

    // &-list {
    //     display: flex; 
    // } 

    // &-entry:nth-child( n + 2 ) {
    //     display: none; 
    // } 

    
    .review-text-content { 
        margin-left: 50%; 
    } 

    // .entry + .entry {
    //     margin-top: 1em; 
    // } 

    // &-entry:nth-child( 2n + 1 ) { 
    //     .review-text-content { 
    //         margin-left: 50%; 
    //     } 

    //     .review-figure::after { 
    //         right: 50%; 
    //     }
    // } 

    // &-entry:nth-child( 2n ) { 
    //     .review-figure::after { 
    //         left: 50%; 
    //     }

    //     .review-text-content { 
    //         margin-right: 50%; 
    //         //text-align: right; 
            
    //     } 

    //     // .person-photo, 
    //     // .read-more-button {  
    //     //     margin-left: auto; 
    //     // } 

    //     // .read-more-button {  
    //     //     margin-right: var( --indent-x-correction );  
    //     // } 
            
    // } 

} 

.review-figure, 
.review-person {
    border-color: rgba( var( --color-3-rgb ), 0.2 ); 
}

.review { 
    //display: flex; 

    // > * {
    //     width: 50%; 
    // } 

    //position: relative; 

    // > * + * {
    //     margin-left: 2em; 
    // }

    // > * { 
    //     margin-top: 1em; 
    // } 

    //background-color: rgba( var( --color-grayscale-dark-rgb ), 0.025 ); 
    //border-width: 1px; border-style: solid; border-color: rgba( var( --color-grayscale-dark-rgb ), 0.125 ); 
    border-radius: 8px; 
    //box-shadow: 0 0 15px 5px rgba( var( --color-grayscale-dark-rgb ), 0.1 ); 
    // color: rgba( var( --color-grayscale-light-rgb ), 1 ); 

    .article-holder & { 
        // margin-inline: auto; 
        // max-width: 780px; 
        //border: 1px solid; 
        // border-radius: 12px; 
        background-color: rgba( var( --color-grayscale-light-rgb ), 0.9 ); 

        &-text-content { 
            padding-right: 2em; 
            
        }
    } 

    &-figure { 
        display: flex; justify-content: flex-end; //align-items: center; 
        position: absolute; 
        top: 0; 
        //width: 50%; 
        width: 100%; 
        height: 100%; 
        //color: rgba( var( --color-grayscale-dark-rgb ), 0.125 ); 
        //background-color: rgba( var( --color-grayscale-dark-rgb ), 0.02 );  

        &::after {  
            box-sizing: border-box; 
            display: block; 
            display: flex; justify-content: center; align-items: center; 
            position: absolute; 
            inset: 2rem; right: 50%; 
            // width: 2em; height: 2em; 
            //width: 50%; 
            //height: 100%; 
            //border: 1px solid; border-color: currentColor; 
            //border-radius: 12px; 
            color: rgba( var( --color-grayscale-light-rgb ), 0.3 ); 
            color: rgba( var( --color-grayscale-dark-rgb ), 0.03 ); 
            background-color: rgba( var( --color-grayscale-light-rgb ), 0.4 ); 

            font-family: var( --icon-font-family ); 
            font-size: 15em; 
            content: "\f11f"; 
            //content: ""; 

            //box-shadow: 0 0 15px 5px rgba( var( --color-grayscale-dark-rgb ), 0.1 ); 
        } 
    } 

    &-text-content { 
        position: relative; z-index: 2; 
        padding-block: 5em; 
        padding-inline: 2em; 
        //border: 1px solid; 
        //background-color: rgba( var( --color-3-rgb ), 0.8 ); color: rgba( var( --color-grayscale-dark-rgb ), 0.8 ); 
        //color: rgba( var( --color-grayscale-light-rgb ), 1 ); 

        > * + * {
            margin-top: 2em; 
        }
    }

    &-heading { 
        margin-top: 3em; 
        font-weight: var( --font-weight-semi-bold ); 
    } 

    &-person-name {
        //font-weight: var( --font-weight-semi-bold ); 
    } 

    &-article .image {
        object-position: center top; 
    }
} 

.reviews-list-holder > .image, 
.review-figure .image { 
    position: absolute; z-index: -1; 
    top: 0; 
    width: 100%; height: 100%; 
    object-fit: cover; 
    border-radius: 12px; 
    opacity: 0.3; 
} 

.review-person { 
    --image-width: 3em; 
    --image-height: var( --image-width ); 

    // display: flex; align-items: center; 
    // flex-wrap: wrap; 
    padding-bottom: 1em; 
    border-width: 0 0 1px 0; border-style: solid; border-color: inherit; 
    font-family: var( --font-family-2 ); 

    .key {
        position: absolute; 
        left: -10000px; top: -10000px; 
    } 

    &-photo { 
        width: var( --image-width ); height: var( --image-height ); 
        background-color: rgba( var( --color-grayscale-dark-rgb ), 0.5 ); 
        //border: 1px solid; 
        border-radius: 50%; 
        overflow: hidden; 
        box-shadow: 0 0 12px 2px rgba( var( --color-grayscale-dark-rgb ), 0.4 ); 

        .image { 
            display: block; 
            //position: absolute; left: 0; 
            width: var( --image-width ); height: var( --image-height ); 
            object-fit: cover; object-position: center top; 
        } 
    } 

    .no-photo { 
        --icon-size: 100%; 
        --icon-code: "\f47e"; 
        --icon-font-size: 2em; 
        --icon-color: rgba( var( --color-grayscale-light-rgb ), 0.7 ); 

    }

    .text-content {
        //margin-left: 1em; 
        margin-top: 1em; 
    } 

} 

.splide {
    --slider-pagination-block-height: 3rem; 
}

.splide .splide__arrows { 
    --icon-size: 8rem; 
    //--icon-border: 1px solid; 
    --icon-border-radius: 8px; 
    --icon-font-size: 3.5rem; 

    display: flex; justify-content: space-between; align-items: center; 
    position: absolute; //position: initial; 
    //right: 50%; 
     
    //width: 50%; 

    > * + * {
        margin-left: 1.5em; 
    } 

    .splide__arrow {
        position: initial; 
        top: auto; 
        height: auto; 
        transform: none; 

        // &--prev {
        //     margin-left: auto; 
        // } 
    } 
}

.splide__arrow { 

    display: inline-block; 
    width: var( --icon-size ) !important; 
    background: transparent !important; 
    color: inherit; 
}

.splide__arrow--prev {
    --icon-code: "\f3d2"; 
} 

.splide__arrow--next {
    --icon-code: "\f3d3"; 
} 

.splide__pagination { 
    box-sizing: border-box; 
    padding: 0 !important; 
    width: 100%; max-width: none; 
    height: var( --slider-pagination-block-height ); 

    .splide__pagination__page { 
        box-sizing: border-box; 
        width: var( --slider-pagination-button-size, auto ); height: var( --slider-pagination-button-size, auto ); 
        //background-color: rgba( var( --color-3-rgb ), 0.2 ); 
        background-size: cover; 
        //border: 1px solid transparent; 
        //opacity: 0.5; 

        &.is-active { 
            //background-color: rgba( var( --color-3-rgb ), 0.8 ); 
            //background: unset !important; 
            //border: 1px solid rgba( var( --color-grayscale-dark-rgb ), 0.4 ); 
            //opacity: 1; 
            transform: scale( 1.4 ); 
            
        }
    }
} 

.reviews { 
    .splide__arrows {
        left: 2em; right: calc( 50% + 0em ); 
        top: 50%; margin-top: calc( -1 * var( --icon-size ) / 2 ); 
    } 

    .splide__pagination {
        bottom: auto !important; top: 100%; 
    } 
} 

.featured-candidates { 
    --slider-pagination-block-height: 10rem; 
    --slider-pagination-button-size: 3rem; 

    //padding-top: var( --slider-pagination-block-height ); 

    

    .splide__arrows { 
        min-height: var( --slider-pagination-block-height ); 
        //left: 50%; 
        //right: calc( 50% + 2em );   
        right: 0; 
        //background-color: rgba( var( --color-3-rgb ), 0.2 ); 

        // .splide__arrow {
        //     background-color: red !important; 
        // } 

        .splide__arrow:focus { 
            outline: none !important; 
        }
    } 

    .splide__pagination { 
        box-sizing: border-box; 
        //display: block; 
        // flex-direction: column; flex-wrap: nowrap; 
        // align-items: flex-end; 
        padding-left: 4rem !important; 
        //padding-inline: 2rem !important; padding-block: 2rem !important; 
        width: auto; 
        //max-width: var( --page-inner-width ); 
        //left: 50%; margin-left: 4rem; right: auto; 
        //left: auto; right: 0; 
        //inset: auto; left: 0; top: 0; right: 50% !important; 
        //left: 50%; margin-left: calc( var( --page-inner-width ) / -2 ); 
        inset: auto; left: 50%; top: 0; 
        // bottom: 100%; 
        //background-color: rgba( var( --color-3-rgb ), 0.2 ); 

        .splide__pagination__page { 
            //box-sizing: border-box; 
            width: var( --slider-pagination-button-size, auto ); height: var( --slider-pagination-button-size, auto ); 
            //background-color: rgba( var( --color-3-rgb ), 0.2 ); 
            background-size: cover; 
            border: 3px solid rgba( var( --color-grayscale-light-rgb ), 1 ); 
            border-radius: 4px; 
            opacity: 1; 
            box-shadow: 0 0 5px 2px rgba( var( --color-grayscale-dark-rgb ), 0.1 ); 
    
            &.is-active {  
                opacity: 1; 
                transform: scale( 1.5 );
                box-shadow: 0 0 5px 2px rgba( var( --color-grayscale-dark-rgb ), 0.2 ); 
                
            }
        } 

        li {
            display: block; 
        }
    } 

    $candidate_photos: ( 
        "376803465_272656228986323_6942697388337488751_n.jpg", 
        "380898863_271293172455962_6053877959729184124_n_e.jpg", 
        "387737465_282913814627231_6003175362536465745_n_e.jpg", 
        "376672093_272163935702219_2308808763411100379_n_e.jpg" 
    ); 
    @for $i from 1 through length( $candidate_photos ) { 
        .splide__pagination .splide__pagination__page-#{ $i } { 
            background-image: url( '/assets/images/#{ nth( $candidate_photos, $i ) }' ) !important; 

        } 
    }
}