.selected-products { 
    --price-margin-top: 1.5em; 
    --entry-heading-margin-bottom: 0.5em; 
    --control-list-margin-top: 3em; 
    --entry-list-margin-top: var( --control-list-margin-top ); 
    --entry-paragraph-margin-top: 1.5em; 
    --features-list-margin-top: 2em; 
    --entry-button-margin-top: 2em; 

    &-list, 
    .control-list { 

        .heading {
            margin-bottom: 0.5em; 
        } 

    }

    .entry {
        position: relative; 
    } 

    .price { 
        margin-top: var( --price-margin-top ); 
        font-family: var( --font-family-2 ); 
            
        &-value, 
        &-currency {
            font-weight: var( --font-weight-medium ); 
        }

        &-value {
            display: flex;  

            > * { 
                margin: 0; 
                line-height: 1; 
            }

            .int { 
                margin-right: 0.125em; 
                font-size: 1.75em; 
            } 
        
            .fract {
                font-size: 0.8em; 
            } 
        } 
    }

    

    .text-content { 
        margin-left: auto; padding-block: var( --text-content-padding-y ); 

    } 

    .image {
        position: absolute; 
        height: 100%; 
    } 

    .control-list { 
        --column-count: 3; 
        --image-text-content-distance: 0.8em; 
        --text-content-padding-y: 2rem; 

        & { 
            margin-top: var( --control-list-margin-top ); 

        } 

        &:hover .control-entry  {
            opacity: 0.15; 
            transition: opacity 0.1s; 

            &:hover { 
                opacity: 1; 
            }
        } 
            

        .control-entry {
            position: relative; 
        } 

        .heading {
            font-weight: var( --font-weight-semi-bold ); 
        }

        // .image {
        //     width: 40%; 
        // }

        // .text-content {
        //     margin-left: auto; width: 60%; 
        // } 
        
    } 

    &-list { 
        --image-text-content-distance: 2em; 
        --text-content-padding-y: 6rem; 

        & {
            margin-top: var( --entry-list-margin-top ); 
        } 

        > .entry:not( :first-child ) {
            display: none; 
        } 

        .text-content > .paragraph {
            margin-top: 2.5em; 
        } 

        .image {
            height: 80%; 
        } 

        .product-feature-list { 
            --column-count: 2; 
            --column-gap-x: 0em; 
            --column-gap-y: 1.8em; 
            --margin-top: 2em; 

            --icon-size: 1.85rem; 
            --icon-font-size: 1.2em; 
            --icon-code: "\f3d3"; 
            --icon-border: 1px solid; 
            --icon-border-radius: 50%; 

            & {
                margin-top: var( --margin-top ); 
            } 

            > .entry:nth-child( -n + 2 ) { 
                margin-top: 0; 
            }
    
            > .entry:nth-child( 2n + 1 ) { 
                margin-left: 0; 
            } 

            .entry { 
                box-sizing: border-box; 
                padding-left: var( --icon-size ); 

                > * {
                    margin-left: 1em; 
                } 

            }

            .entry::before { 
                
                position: absolute; left: 0; 
                // top: 50%; transform: translateY( -50% ); 

            } 

            .heading {
                font-weight: var( --font-weight-semi-bold ); 
            }

            

        }

        .buy-product { 
            box-sizing: border-box; 
            position: absolute; left: 0; bottom: 0; 
            padding-inline: 10%; 
            width: 50%; 
            text-align: center; 

            .price { 
                padding: 3.5em; 
                border: 1px solid; border-top-left-radius: 10px; border-top-right-radius: 10px; 
                font-size: 1.4em; 
                
            } 

            .price-value, 
            .price-currency {
                font-weight: var( --font-weight-semi-bold ); 
            }

            .price-value { 
                justify-content: center; 
                font-size: 1.8em; 
             
            }

            &-button { 
                
            }
            
        }

    } 

} 
