.selected-products {  
    --entry-heading-margin-bottom: 0.5em; 
    --control-list-margin-top: 3em; 
    --entry-list-margin-top: var( --control-list-margin-top ); 
    --entry-paragraph-margin-top: 1.5em; 
    --features-list-margin-top: 2em; 
    --entry-button-margin-top: 2em; 

    &-list, 
    .control-list { 
        .heading {
            margin-bottom: 0.5em; 
        } 
    }

    .entry {
        position: relative; 
    } 

    .text-content { 
        margin-left: auto; padding-block: var( --text-content-padding-y ); 

    } 

    .image {
        position: absolute; 
        height: 100%; 
    } 

    .control-list { 
        --column-count: 3; 
        --image-text-content-distance: 0.8em; 
        --text-content-padding-y: 2rem; 
        --price-margin-top: 1.5em; 

        & { 
            margin-top: var( --control-list-margin-top ); 

        } 

        &:hover .control-entry  {
            opacity: 0.15; 
            transition: opacity 0.1s; 

            &:hover { 
                opacity: 1; 
            }
        } 
            

        .control-entry {
            position: relative; 
        } 

        .heading {
            font-weight: var( --font-weight-semi-bold ); 
        }

        // .image {
        //     width: 40%; 
        // }

        // .text-content {
        //     margin-left: auto; width: 60%; 
        // } 
        
    } 

    &-list { 
        --image-text-content-distance: 2em; 
        --text-content-padding-y: 6rem; 

        & {
            margin-top: var( --entry-list-margin-top ); 
        } 

        > .entry:not( :first-child ) {
            display: none; 
        } 

        .text-content > .paragraph {
            margin-top: 2.5em; 
        } 

        .image {
            height: 80%; 
        } 

        .product-feature-list { 
            --column-count: 2; 
            --column-gap-x: 1em; 
            --column-gap-y: 1.8em; 
            --margin-top: 2em; 

            --icon-size: 2.5rem; 
            --icon-font-size: 1.2em; 
            --icon-code: "\f3d3"; 
            --icon-border: 1px solid; 
            --icon-border-radius: 50%; 
            --icon-to-content-x: 1rem; 

            & {
                margin-top: var( --margin-top ); 
            } 

            > .entry:nth-child( -n + 2 ) { 
                margin-top: 0; 
            }
    
            > .entry:nth-child( 2n + 1 ) { 
                margin-left: 0; 
            } 

            

            .heading {
                font-weight: var( --font-weight-semi-bold ); 
            }

            

        }

        .buy-product { 
            box-sizing: border-box; 
            position: absolute; left: 0; bottom: 0; 
            padding-inline: 5%; 
            width: 50%; 
            text-align: center; 

            .price { 
                --price-padding-block: 3.5em; 
                --price-border: 1px solid; 
                --price-border-radius: 10px 10px 0 0; 
                --price-background-color: rgba( 255, 255, 255, 0.9 ); 
                --price-elements-y: 0.2em; 
                --price-int-to-fract-x: 0.125em; 
                --price-font-size: 1.2em; 
                --price-value-font-size: 1.8em; 

                &-value, 
                &-currency {
                    font-weight: var( --font-weight-medium ); 
                }

                &-value { 
                    justify-content: center; 
                }
            } 

            &-button { 
                
            }
            
        }

    } 

} 
