.send-message-menu { 
    font-weight: var( --font-weight-regular ); 

    &::after { 
        display: flex; justify-content: center; align-items: center;  
        position: absolute; z-index: -1; 
        inset: 0; right: 50%; 
        content: "\f2c3"; 
        font-family: var( --icon-font-family ); font-size: 40em; 
        background-color: rgba( var( --color-grayscale-dark-rgb ), 0.1 ); color: rgba( var( --color-grayscale-dark-rgb ), 0.4 ); 
    }

    .user-action-menu-body { 
        margin-left: 5rem; 
        width: 50%; 
    }
} 

.send-message-form { 
    margin-top: 2em; 
    width: 100%; 
    font-weight: var( --font-weight-semi-bold ); 
    

    > * + * { 
        margin-top: 1em; 

    } 

    .form-field > *, 
    .form-button { 
        box-sizing: border-box; 
        display: block; 
        padding: 0.8em; 
        width: 100%; 
        background-color: transparent; 

    } 

    .form-field-body { 
        border: 1px solid; border-color: rgba( var( --color-grayscale-dark-rgb ), 0.4 ); 
        border-radius: 0; 

    } 

    .form-field-body {
        border-width: 0 0 1px 0; 
    }

    .form-button {
        margin-top: 5em; 
        padding: 2em; 
        background-color: rgba( var( --color-grayscale-dark-rgb ), 0.5 ); color: rgba( var( --color-grayscale-light-rgb ), 1 ); 
        border: none; 
        font: inherit; text-transform: inherit; 
    }
}

.send-message-menu { 
    .user-action-menu-close-button, 
    &::after, 
    .user-action-menu-body { 
        opacity: 0; 
    } 
} 

.send-message-menu:target { 
    .user-action-menu-close-button, 
    &::after, 
    .user-action-menu-body { 
        opacity: 1; 
        transition: opacity 0.3s; 
    } 

    .user-action-menu-close-button { 
        transition-delay: 0.4s; 
    } 

    &::after { 
        transition-delay: 0.4s; 
    } 

    .user-action-menu-body { 
        transition-delay: 0.45s; 
    } 

    .user-action-menu-body .heading { 
        transition-delay: 0s; 
    } 

}

