.send-message-section {  
    // display: flex; justify-content: center; 
    // flex-wrap: wrap; 
    position: relative; 
    padding-block: 4em; //padding-left: 50%; 
    font-family: var( --font-family-2 ); 
    text-align: center; 

    > * { 
        //margin-left: 50%; 
        //max-width: 30rem; 
        margin-inline: auto; 
        width: 50%; 
    } 

    // > * + * {
    //     margin-left: 2em; 
    // }

    .send-message-heading { 
        //width: 100%; max-width: none; 
        //margin-inline: auto; 
    }

    .form { 
        box-sizing: border-box; 
        //margin-left: 50%; 
        padding-block: 5em; padding-inline: 5em; 
        //padding: 5em; 
        //max-width: 35rem; //margin-inline: auto; 
        //border: 1px solid; border-color: rgba( var( --color-3-rgb ), 0.4 ); 
        border-radius: 12px; 
        font-size: 0.8em; 
        font-weight: var( --font-weight-regular ); 
        text-transform: uppercase; 
        

        .form-field-body { 
            border-color: rgba( var( --color-3-rgb ), 0.4 ); 

        } 

        .form-button {
            background-color: rgba( var( --color-3-rgb ), 0.8 ); 
        } 
    } 

    .image-holder {
        position: relative; //position: absolute; z-index: -1; 
        //left: 0; top: 0; 
        //margin-left: 0; 
        //max-width: none; 
        //width: 50%; height: auto;   
        //width: 100%; height: 100%; 
        height: 20rem; //height: auto; 
        // border: 1px solid; border-color: rgba( var( --color-3-rgb ), 0.4 ); 
        border-radius: 12px; overflow: hidden; 
        //box-shadow: 0 0 15px 5px rgba( var( --color-3-rgb ), 0.2 ); 

        &::after { 
            //position: unset; 
            width: 100%; height: 100%; 
            //background-color: transparent; 
            font-size: 35em; 
            content: unset; 
            //opacity: 0.2; 
        } 

        .image {
            width: 100%; height: 100%; 
            object-fit: cover; object-position: right;  
            //opacity: 0.2; 
            //filter: grayscale( 1 ); 
            
        }
    }
    
} 

.honeypot-field {
    display: none; 
} 
