.sponsorship { 
    text-align: center; 

    &-list { 
        --entry-list-margin-top: 4em; 
        --entry-list-width: 20%; 
        --entry-margin-top: 4em; 

        --image-width: 10rem; 
        --image-height: var( --image-width ); 
        --image-border-width: 1px; 
        --image-border-color-opacity: 0.8; 
        --image-border-color: rgba( var( --color-3-rgb ), var( --image-border-color-opacity ) ); 

        --sport-font-size: 0.9em; 
        --sport-padding-x: 1.4em; 
        --sport-padding-y: 0.3em; 
        --sport-border-width: 1px; 
        --sport-border-radius: 6px; 

        --paragraph-margin-top: 2em; 

        & { 
            width: var( --entry-list-width ); 
            margin-inline: auto; margin-top: var( --entry-list-margin-top ); 
        }

        .entry + .entry {
            margin-top: var( --entry-margin-top ); 
        } 

        .entry:hover { 
            .image { 
                filter: grayscale( 0% ); 
            } 

            .sport { 
                background-color: rgb( var( --color-3-rgb ) ); color: rgba( var( --color-grayscale-light-rgb ), 0.8 ); 
                border-color: transparent; 
            } 
        }

        .image { 
            display: inline-block; 
            width: var( --image-width ); height: var( --image-height ); 
            border-width: var( --image-border-width ); border-style: solid; border-color: var( --image-border-color ); 
            border-radius: 50%; 
            filter: grayscale( 100% ); 
        } 

        .heading {
            font-size: var( --font-size-level-4 ); font-weight: var( --font-weight-semi-bold ); 
        } 

        .paragraph {
            margin-top: var( --paragraph-margin-top ); 
        }  

        .sport { 
            display: inline-block; 
            padding-block: var( --sport-padding-y ); padding-inline: var( --sport-padding-x ); 
            border-width: var( --sport-border-width ); border-style: solid; border-radius: var( --sport-border-radius ); 
            font-size: var( --sport-font-size ); 
        } 
    }

}