.user-action-panel { 
    display: flex; 
    justify-content: flex-start;  
    position: fixed; z-index: 3; 
    padding-block: 5rem; 
    //padding-left: 50%; 
    padding-inline: 2rem; 
    background-color: rgba( var( --color-grayscale-light-rgb ), 0.975 ); color: rgba( var( --color-grayscale-dark-rgb ), 0.8 );  
    //text-align: center; 
    //overflow: hidden; 
    overflow-y: auto; 

    left: -10000px; top: -10000px; 
    transform: translateY( -100% ); 

    

    .user-action {
        &-panel-main { 
            display: flex; flex-direction: column; 
            align-items: center; 
        }

        &-panel-heading {
            margin-top: 0; 
            font-weight: var( --font-weight-light ); 
        }
    } 

    &:target { 
        left: 0; right: 0; top: 0; bottom: 0; 
        transform: translateY( 0 ); 
        transition: transform 0.2s; 
    } 
} 
