<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- Ionicons Icon Font --> 
    <link href= "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" /> 
    <!-- Montserrat Font  --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 

    <link rel= "stylesheet" href= "{% if jekyll.environment == "production" %}{{ "/biogame-demo" }}{% endif %}/assets/css/main.css"> 
    <title>{{ site.title }}</title> 
</head>
<body> 
    {% include header.liquid %} 

    {{ content }} 

    {% include footer.liquid %} 
</body>
</html> 
