<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- Ionicons Icon Font --> 
    <link href= "//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" /> 
    <!-- Montserrat Font  --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 

    <link rel= "stylesheet" href= "{% if jekyll.environment == "production" %}{{ site.repo_name }}{% endif %}/assets/css/main.css"> 
     
    <link rel= "stylesheet" href= "/assets/css/media-queries.css"> 
    <title>{{ site.title }}</title> 
</head>
<body class= "body"> 
    {% include header.liquid %} 

    {{ content }} 

    {% include footer.liquid %} 

    <!-- Submit the Form to Google Using "AJAX" -->
    <script data-cfasync= "false" src= "/assets/js/form-submission-handler.js"></script> 

    <!-- Splide Slider --> 
    <script src= "https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link href= "https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet" /> 
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-intersection@0.2.0/dist/js/splide-extension-intersection.min.js"></script> 
    <script> 

        document.addEventListener( 'DOMContentLoaded', function () {
            const main = new Splide( '#featured-candidates-section', {
                rewind: true,
                pagination: false,
                arrows: false, 
            } );

            main.mount();

            document.querySelector( '.featured-candidates-control-list' ).addEventListener( 'click', function( e ) { 
                const link = e.target.closest( '.control-link' ); 
                if ( !link ) { 
                    return; 
                } 

                e.preventDefault(); 
                const targetSlideIndex = parseInt( link.dataset.targetSlideIndex ); 
                main.go( targetSlideIndex ); 
            } ); 
        } ); 

        // const splideHolders = document.getElementsByClassName( 'splide' ); 
        // const spliders = []; 
        // for ( let i = 0; i < splideHolders.length; i++ ) {
        //     spliders.push( new Splide( splideHolders[ i ], {
        //         autoplay: 'pause', 
        //         intersection: {
        //             inView: {
        //                 autoplay: true,
        //             }, 
        //             outView: {
        //                 autoplay: false,
        //             }, 
        //         },
        //     } ).mount( window.splide.Extensions ) ); 
        // } 

        // spliders[ 0 ].options = { arrows: false }; 

    </script>
</body>
</html> 
